Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

refactor gap analysis
  apps/backend/workflow_agent/CLARIFICATION_READY_REFACTOR.md
  apps/backend/workflow_agent/DATABASE_FIELDS_RATIONALE.md
  apps/backend/workflow_agent/GAP_ANALYSIS_ENHANCEMENT_SUMMARY.md
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/migrations/004_add_gap_negotiation_fields.sql
  apps/backend/workflow_agent/migrations/005_cleanup_clarification_ready.sql
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_agent/test_gap_analysis.py
  apps/backend/workflow_scheduler/Dockerfile
Due: test-workflow-agent

feat: Fix the saving issue of the demo flow
  apps/frontend/agent_team_web/src/app/workflow-editor/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

fix: resolve EXTERNAL_ACTION_NODE_NODE double suffix error and add async support
  LOCAL_DEMO_GUIDE.md
  LOCAL_SETUP_GUIDE.md
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/workflow_engine/EXTERNAL_API_NODES_SUMMARY.md
  apps/backend/workflow_engine/check_node_templates.py
  apps/backend/workflow_engine/database/migrations/insert_external_api_node_templates.sql
  apps/backend/workflow_engine/database/queries/verify_external_node_templates.sql
  apps/backend/workflow_engine/insert_missing_nodes.py
  apps/backend/workflow_engine/requirements.txt
  apps/backend/workflow_engine/start_backend_fixed.py
  apps/backend/workflow_engine/test_oauth2_integration.py
  apps/backend/workflow_engine/validate_node_templates_with_specs.py
  apps/backend/workflow_engine/workflow_engine/api/v1/__init__.py
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/api/v1/executions.py
  apps/backend/workflow_engine/workflow_engine/core/config.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/main.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/__init__.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/api_call.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/base.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/email.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/github.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/slack.py
  apps/backend/workflow_engine/workflow_engine/services/credential_encryption.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
  apps/frontend/agent_team_web/src/app/api-call-test/page.tsx
  apps/frontend/agent_team_web/src/app/email-test/page.tsx
  apps/frontend/agent_team_web/src/app/github-test/page.tsx
  apps/frontend/agent_team_web/src/app/slack-test/page.tsx
  apps/frontend/agent_team_web/src/components/ui/input.tsx
  apps/frontend/agent_team_web/src/components/ui/label.tsx
  apps/frontend/agent_team_web/src/components/ui/textarea.tsx
Due: test-workflow-engine

fix build issues
  apps/backend/workflow_agent/Dockerfile
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/main.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_engine/Dockerfile
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
Due: test-workflow-agent, test-workflow-engine

fix
  apps/backend/workflow_scheduler/Dockerfile
Due: none

fix: fix api gateway
  apps/backend/api-gateway/app/api/app/executions.py
  apps/backend/api-gateway/app/api/app/router.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
Due: test-api-gateway, test-workflow-engine

fix
  .github/workflows/deploy.yml
Due: none

fix: resolve Google Calendar event creation datetime timezone issue
  apps/frontend/agent_team_web/package-lock.json
  apps/frontend/agent_team_web/src/app/google-calendar-test/page.tsx
  apps/frontend/agent_team_web/yarn.lock
Due: none

remove gap analysis
  apps/backend/api-gateway/app/services/response_processor.py
  apps/backend/shared/models/conversation.py
  apps/backend/shared/prompts/workflow_generation_optimized_system.j2
  apps/backend/shared/prompts/workflow_generation_optimized_user.j2
  apps/backend/test_architecture_structure.py
  apps/backend/test_cleaned_response_types.py
  apps/backend/test_optimized_workflow.py
  apps/backend/test_simplified_debug.py
  apps/backend/verify_cleanup.py
  apps/backend/workflow_agent/REFACTORING_SUMMARY.md
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/workflow_agent.py
  apps/backend/workflow_agent/core/vector_store.py
  apps/backend/workflow_agent/migrations/004_optimized_schema.sql
  apps/backend/workflow_agent/models/__init__.py
  apps/backend/workflow_agent/models/workflow_agent_state.py
  apps/backend/workflow_agent/scripts/insert_node_knowledge.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
Due: test-api-gateway, test-workflow-agent

fix: workflow engine
  apps/backend/api-gateway/app/api/app/executions.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/execution.py
Due: test-api-gateway

save progress
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/docker-compose.yml
  apps/backend/workflow_engine/requirements.txt
  apps/backend/workflow_engine/workflow_engine/services/credential_encryption.py
Due: test-api-gateway, test-workflow-engine

save progress (#57)
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/docker-compose.yml
  apps/backend/workflow_engine/requirements.txt
  apps/backend/workflow_engine/workflow_engine/services/credential_encryption.py
Due: test-api-gateway, test-workflow-engine

update
  infra/ecs.tf
Due: none

resolve conflict
  apps/backend/shared/prompts/gap_analysis_f2_system.j2
  apps/backend/shared/prompts/gap_analysis_f2_user.j2
  apps/backend/test_chat_clean.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_scheduler/Dockerfile
Due: test-workflow-agent

fix cache
  .github/workflows/public-doc-ci.yml
Due: none

update prompt
  apps/backend/shared/prompts/workflow_generation_optimized_system.j2
  apps/backend/shared/prompts/workflow_generation_optimized_user.j2
Due: none

feat: implement complete N8N-style external API integration
  apps/backend/shared/sdks/__init__.py
  apps/backend/shared/sdks/api_call_sdk/__init__.py
  apps/backend/shared/sdks/api_call_sdk/client.py
  apps/backend/shared/sdks/api_call_sdk/exceptions.py
  apps/backend/shared/sdks/api_call_sdk/models.py
  apps/backend/shared/sdks/api_call_sdk/requirements.txt
  apps/backend/shared/sdks/base.py
  apps/backend/shared/sdks/email_client/README.md
  apps/backend/shared/sdks/email_client/__init__.py
  apps/backend/shared/sdks/email_client/base.py
  apps/backend/shared/sdks/email_client/config.py
  apps/backend/shared/sdks/email_client/migadu_client.py
  apps/backend/shared/sdks/email_client/smtp_client.py
  apps/backend/shared/sdks/email_client/test_migadu.py
  apps/backend/shared/sdks/email_sdk/__init__.py
  apps/backend/shared/sdks/email_sdk/client.py
  apps/backend/shared/sdks/email_sdk/exceptions.py
  apps/backend/shared/sdks/email_sdk/models.py
  apps/backend/shared/sdks/email_sdk/requirements.txt
  apps/backend/shared/sdks/github_sdk/__init__.py
  apps/backend/shared/sdks/github_sdk/oauth2_client.py
  apps/backend/shared/sdks/google_calendar_sdk/__init__.py
  apps/backend/shared/sdks/google_calendar_sdk/client.py
  apps/backend/shared/sdks/google_calendar_sdk/exceptions.py
  apps/backend/shared/sdks/google_calendar_sdk/models.py
  apps/backend/shared/sdks/google_calendar_sdk/requirements.txt
  apps/backend/shared/sdks/slack_sdk/__init__.py
  apps/backend/shared/sdks/slack_sdk/oauth2_client.py
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
  apps/frontend/agent_team_web/src/app/email-test/page.tsx
  apps/frontend/agent_team_web/src/app/google-calendar-test/page.tsx
Due: test-workflow-engine

fix: workflow engine
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/workflow.py
Due: test-api-gateway

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
