Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

update tf
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/shared/prompts/workflow_generation_optimized_system.j2
  apps/backend/shared/prompts/workflow_generation_optimized_user.j2
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/workflow_data_generator.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/models/workflow_agent_state.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  infra/AWS_SERVICE_COMMUNICATION_ANALYSIS.md
  infra/ecs.tf
Due: test-api-gateway, test-workflow-agent

rm test files
  apps/backend/chat.py
  apps/backend/test_architecture_structure.py
  apps/backend/test_cleaned_response_types.py
  apps/backend/test_optimized_workflow.py
  apps/backend/test_resolved_conflicts.py
  apps/backend/test_simplified_debug.py
  apps/backend/verify_cleanup.py
  apps/backend/workflow_agent/migrations/001_create_workflow_agent_states.sql
  apps/backend/workflow_agent/migrations/002_update_to_mcp_integration.sql
  apps/backend/workflow_agent/migrations/003_final_mcp_schema.sql
  apps/backend/workflow_agent/migrations/004_add_gap_negotiation_fields.sql
  apps/backend/workflow_agent/migrations/004_optimized_schema.sql
  apps/backend/workflow_agent/migrations/005_cleanup_clarification_ready.sql
Due: none

fix: workflow engine
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-workflow-engine

fix: workflow engine
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/workflow.py
Due: test-api-gateway

feat: enhance OAuth2 token management with automatic refresh
  CLAUDE.md
  apps/backend/shared/sdks/github_sdk/__init__.py
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
  apps/frontend/agent_team_web/src/app/google-calendar-test/page.tsx
  supabase/migrations/20250810000001_add_refresh_token_expiration.sql
Due: test-workflow-engine

Fix workflow deployment
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/uv.lock
  apps/backend/workflow_engine/pyproject.toml
Due: test-api-gateway

fix deployment issue
  .github/workflows/deploy.yml
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: none

udpate infra
  infra/ecs.tf
  infra/load_balancer.tf
  infra/security_groups.tf
  scripts/deploy.sh
Due: none

fix
  infra/secrets.tf
Due: none

fix workflow deployment
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/shared/models/db_models.py
  apps/backend/workflow_scheduler/core/database.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/backend/workflow_scheduler/services/workflow_repository_raw.py
  apps/backend/workflow_scheduler/utils/manual_db_update.py
Due: test-api-gateway

only use tracking_id
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/main.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/docker-compose.yml
  apps/backend/shared/telemetry/middleware.py
  apps/backend/shared/telemetry/tracking.py
  apps/backend/workflow_agent/services/fastapi_server.py
Due: test-api-gateway, test-workflow-agent

feat: Implement user authentication with Supabase and profile management
  apps/frontend/agent_team_web/.env.local.example
  apps/frontend/agent_team_web/.gitignore
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/auth/supabase-callback/route.ts
  apps/frontend/agent_team_web/src/app/layout.tsx
  apps/frontend/agent_team_web/src/app/login/page.tsx
  apps/frontend/agent_team_web/src/app/profile/page.tsx
  apps/frontend/agent_team_web/src/components/ui/login-1.tsx
  apps/frontend/agent_team_web/src/components/ui/login-supabase.tsx
  apps/frontend/agent_team_web/src/components/ui/navigation-header.tsx
  apps/frontend/agent_team_web/src/components/ui/toast.tsx
  apps/frontend/agent_team_web/src/components/ui/toaster.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/contexts/auth-context.tsx
  apps/frontend/agent_team_web/src/hooks/use-toast.ts
  apps/frontend/agent_team_web/src/lib/supabase/client.ts
  apps/frontend/agent_team_web/src/lib/supabase/server.ts
  apps/frontend/agent_team_web/src/middleware.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

update otel
  docs/OPENTELEMETRY_SETUP.md
  infra/ecs.tf
  infra/otel_collector.tf
  scripts/deploy_otel_collector.sh
Due: none

upgrade otel
  infra/otel_collector.tf
  infra/otel_collector_config.yaml
  scripts/fix_otel_collector.sh
Due: none

upgrade otel
  docs/OPENTELEMETRY_SETUP.md
  infra/otel_collector.tf
  scripts/deploy_otel_fix.sh
Due: none

add github auth webhook API
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/app/router.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/dependencies.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/shared/models/trigger.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_scheduler/api/github.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/services/event_router.py
  apps/backend/workflow_scheduler/services/trigger_manager.py
  apps/backend/workflow_scheduler/triggers/cron_trigger.py
  apps/backend/workflow_scheduler/triggers/email_trigger.py
  apps/backend/workflow_scheduler/triggers/github_trigger.py
  apps/backend/workflow_scheduler/triggers/manual_trigger.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  apps/backend/workflow_scheduler/triggers/webhook_trigger.py
Due: test-api-gateway, test-workflow-engine

fix logs
  .github/workflows/deploy.yml
  infra/OTEL_DEPLOYMENT_GUIDE.md
  infra/ecs.tf
  infra/otel_collector.tf
Due: none

feat: Add OTEL Collector deployment and JSON log format
  .github/workflows/deploy.yml
  infra/ecs.tf
Due: none

fix: Handle INACTIVE services in deployment wait logic
  .github/workflows/deploy.yml
Due: none

feat: Enhanced error logging and JSON format support
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/main.py
Due: test-workflow-agent

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
