Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: test-api-gateway
        name: Test API Gateway
        entry: bash -c 'cd apps/backend/api-gateway && pip install uv && uv sync && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v --cov=app --cov-report=xml --ignore=tests/test_integration.py --ignore=tests/test_integration_quick.py --ignore=tests/test_chat_stream_simple.py --ignore=tests/test_sessions_chat_debug.py'
        language: system
        files: ^apps/backend/api-gateway/.*\.py$
        pass_filenames: false

      - id: test-workflow-agent
        name: Test Workflow Agent
        entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_agent/.*\.py$
        pass_filenames: false

      - id: test-workflow-engine
        name: Test Workflow Engine
        entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_engine/.*\.py$
        pass_filenames: false

Fix workflow creation JSON parsing issues
  apps/backend/chat.py
  apps/backend/docker-compose.yml
  apps/backend/test_llm_config.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/llm_provider.py
  apps/backend/workflow_agent/docs/LLM_PROVIDER_CONFIG.md
  apps/backend/workflow_agent/test_llm_provider.py
  apps/backend/workflow_engine/workflow_engine/services/supabase_workflow_service.py
Due: test-workflow-agent, test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
  apps/backend/workflow_engine/workflow_engine/services/supabase_repository.py
  apps/backend/workflow_scheduler/services/trigger_manager.py
  apps/backend/workflow_scheduler/triggers/github_trigger.py
Due: test-workflow-engine

update deployment to use new github configuration
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/services/event_router.py
  apps/backend/workflow_scheduler/test_trigger_system.py
Due: none

fix deployment
  apps/backend/workflow_engine/Dockerfile
  apps/backend/workflow_engine/pyproject.toml
  infra/deploy.sh
Due: none

fix deployment
  apps/backend/workflow_engine/Dockerfile
  apps/backend/workflow_engine/pyproject.toml
Due: none

fix docusaurus build
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/p/docs-175.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-development-agent-development-one-pager-md-d16.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-development-node-spec-implementation-plan-md-f77.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-development-workflow-agent-mvp-plan-md-742.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-development-workflow-runtime-tasks-md-b0f.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-product-design-one-pager-md-8c2.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-distributed-tracing-system-md-514.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-grpc-to-fastapi-migration-md-9f7.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-mcp-node-knowledge-server-md-328.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-node-structure-md-9ff.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-readme-md-5db.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-workflow-agent-api-doc-md-6d2.json
  apps/internal-tools/docusaurus-doc/.docusaurus/docusaurus-plugin-content-docs/default/site-docs-tech-design-workflow-engine-architecure-md-7a2.json
  apps/internal-tools/docusaurus-doc/.docusaurus/globalData.json
  apps/internal-tools/docusaurus-doc/.docusaurus/registry.js
  apps/internal-tools/docusaurus-doc/.docusaurus/routes.js
  apps/internal-tools/docusaurus-doc/.docusaurus/routesChunkNames.json
  apps/internal-tools/docusaurus-doc/.docusaurus/site-metadata.json
  docs/tech-design/execution_log_api_design.md
Due: none

update product design
  docs/product-design/one-pager.md
Due: none

minor fix
  CLAUDE.md
  apps/backend/CLAUDE.md
  apps/backend/docker-compose.yml
  apps/backend/uv.lock
  apps/backend/workflow_engine/Dockerfile
  apps/backend/workflow_engine/__init__.py
  apps/backend/workflow_engine/executor.py
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/nodes/external_actions/__init__.py
  apps/backend/workflow_engine/nodes/external_actions/base_external_action.py
  apps/backend/workflow_engine/nodes/external_actions/github_external_action.py
  apps/backend/workflow_engine/nodes/external_actions/google_calendar_external_action.py
  apps/backend/workflow_engine/nodes/external_actions/notion_external_action.py
  apps/backend/workflow_engine/nodes/external_actions/slack_external_action.py
  apps/backend/workflow_engine/nodes/factory.py
  apps/backend/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/nodes/tool_node.py
  apps/backend/workflow_engine/pyproject.toml
  apps/backend/workflow_engine/run_import_tests.py
  apps/backend/workflow_engine/services/channel_integration_manager.py
  apps/backend/workflow_engine/services/hil_response_classifier.py
  apps/backend/workflow_engine/services/hil_service.py
  apps/backend/workflow_engine/services/supabase_repository.py
  apps/backend/workflow_engine/services/unified_log_service.py
  apps/backend/workflow_engine/services/workflow_status_manager.py
  apps/backend/workflow_engine/startup.sh
  apps/backend/workflow_engine/tests/integration/conftest.py
  apps/backend/workflow_engine/tests/test_imports.py
Due: test-workflow-engine

faet: add doc to consistent with the code
  apps/backend/api-gateway/CLAUDE.md
  apps/backend/shared/node_specs/README.md
  apps/backend/workflow_agent/CLAUDE.md
  apps/backend/workflow_engine/CLAUDE.md
Due: none

feat: Add GPT-5 model support and fix workflow generation
  apps/backend/chat.py
  apps/backend/docker-compose.yml
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/llm_provider.py
Due: test-workflow-agent

Enhanced LLM logging for runtime model tracking
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/llm_provider.py
Due: test-workflow-agent

1
  apps/backend/chat.py
Due: none

update
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/workflow_engine/executor.py
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/nodes/external_actions/base_external_action.py
  apps/backend/workflow_engine/nodes/external_actions/notion_external_action.py
  apps/backend/workflow_engine/services/execution_log_service.py
  apps/demo_apps/workflow_execution_monitor/src/components/workflow/WorkflowVisualization.tsx
Due: test-api-gateway, test-workflow-engine

Fix LLM configuration logging initialization
  apps/backend/workflow_agent/core/llm_provider.py
Due: test-workflow-agent

include OPENAI_MODEL secrets
  .github/workflows/deploy.yml
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_engine/nodes/external_actions/base_external_action.py
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: test-workflow-engine

update config
  apps/backend/workflow_agent/core/llm_provider.py
  infra/ecs.tf
Due: test-workflow-agent

fix
  infra/ecs.tf
Due: none

resolve DNS issue
  apps/backend/docker-compose.yml
  apps/backend/workflow_engine/database.py
  apps/backend/workflow_engine/main.py
Due: test-workflow-engine
