Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

fix minor bug
  apps/backend/api-gateway/app/api/app/integrations.py
Due: test-api-gateway

update OAuth
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/public/webhooks.py
Due: test-api-gateway

update frontend
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/CronBuilderDialog.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/TimezoneField.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/index.tsx
Due: none

fix slack and notion integration
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/public/webhooks.py
Due: test-api-gateway

minor fix
  apps/backend/api-gateway/app/api/app/integrations.py
  infra/ecs.tf
Due: test-api-gateway

fix db pool creation issue
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/core/database_direct.py
  apps/backend/workflow_scheduler/api/auth.py
Due: test-api-gateway

add business plan
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/DISCORD_INTERACTION.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/GMAIL_INTERACTION.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/MANUAL_REVIEW.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/OUTLOOK_INTERACTION.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/SLACK_INTERACTION.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/TELEGRAM_INTERACTION.py
  apps/backend/shared/node_specs/TRIGGER/CRON.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/workflow_engine_v2/runners/hil.py
  apps/backend/workflow_engine_v2/services/hil_service.py
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/lib/api/config.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  docs/product-design/business-plan.md
Due: test-api-gateway

fix workflow assitant chat section
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/api-gateway/app/core/database_direct.py
  apps/backend/api-gateway/tests/test_integration.py
  apps/backend/shared/models/chat.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine_v2/api/models.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/frontend/agent_team_web/public/icons/bot.svg
  apps/frontend/agent_team_web/public/icons/user.svg
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
Due: test-api-gateway, test-workflow-agent

update tech designs
  docs/tech-design/MVP-Workflow-Data-Structure-Definition.md
  docs/tech-design/README.md
  docs/tech-design/api-gateway-architecture.md
  docs/tech-design/data_mapping_system.md
  docs/tech-design/db-design.md
  docs/tech-design/distributed-tracing-system.md
  docs/tech-design/execution_log_api_design.md
  docs/tech-design/frontend_integration_examples.md
  docs/tech-design/github-app-integration.md
  docs/tech-design/grpc-to-fastapi-migration-zh.md
  docs/tech-design/grpc-to-fastapi-migration.md
  docs/tech-design/hil-node-data-formats.md
  docs/tech-design/human-in-loop-node-system.md
  docs/tech-design/mcp-node-knowledge-server.md
  docs/tech-design/new_workflow_spec.md
  docs/tech-design/node-communication-protocol.md
  docs/tech-design/node-structure.md
  docs/tech-design/node_spec.md
  docs/tech-design/slack-app-integration.md
  docs/tech-design/workflow-agent-architecture.md
  docs/tech-design/workflow-engine-architecure.md
  docs/tech-design/workflow-engine-integration-tests.md
  docs/tech-design/workflow-scheduler-architecture.md
Due: none

implement frontend last execution logs display
  ENHANCED_LOGGING_EXAMPLE.md
  apps/backend/api-gateway/app/api/app/executions.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/main.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/api-gateway/app/utils/sse.py
  apps/backend/docker-compose.yml
  apps/backend/shared/models/chat.py
  apps/backend/shared/models/execution_new.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/main.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_engine_v2/services/user_friendly_logger.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_engine_v2/services/workflow_status_manager.py
  apps/frontend/agent_team_web/src/app/api/proxy/[...path]/route.ts
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
  apps/frontend/agent_team_web/src/components/ui/json-viewer.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/index.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
  infra/ecs.tf
Due: test-api-gateway

fix frontend deployment
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
Due: none

fix
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/core/database_direct.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/shared/node_specs/AI_AGENT/OPENAI_CHATGPT.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-api-gateway, test-workflow-agent

debug and fix issues
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/api/mcp/notion_tools_simple.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/api-gateway/tests/test_notion_mcp_enhanced.py
  apps/backend/docker-compose.yml
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/TOOL/NOTION_MCP_TOOL.py
  apps/backend/shared/node_specs/base.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine_v2/api/models.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/requirements.txt
  apps/backend/workflow_engine_v2/runners/ai_anthropic.py
  apps/backend/workflow_engine_v2/runners/ai_gemini.py
  apps/backend/workflow_engine_v2/runners/ai_openai.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_ai_helpers.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/runners/memory.py
  apps/backend/workflow_engine_v2/runners/memory_implementations/persistent_base.py
  apps/backend/workflow_engine_v2/runners/memory_implementations/persistent_conversation_buffer.py
  apps/backend/workflow_engine_v2/runners/memory_implementations/persistent_vector_database.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_engine_v2/services/workflow_status_manager.py
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
  docs/development/TODO_parallel_execution.md
Due: test-api-gateway, test-workflow-agent

update
  LOCAL_SETUP_GUIDE.md
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/runners/external.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
  apps/backend/workflow_engine_v2/services/user_friendly_logger.py
  apps/frontend/agent_team_web/src/app/ai-prompt/page.tsx
  apps/frontend/agent_team_web/src/app/login/page.tsx
  apps/frontend/agent_team_web/src/components/ui/login-supabase.tsx
  docs/tech-design/execution_log_api_design.md
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
