Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

Add raw AI response logging to AI agent node
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

Store AI raw response in execution run_data
  apps/backend/test_connection_validation.py
  apps/backend/workflow_engine/workflow_engine/examples/ai_integration_example.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/utils/ai_response_formatter.py
  apps/backend/workflow_engine/workflow_engine/utils/expression_parser.py
Due: test-workflow-engine

update logging format
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/workflow_engine/utils/logging_formatter.py
Due: test-workflow-engine

Force all AI_AGENT nodes to use gpt-5-mini-2025-08-07 model
  apps/backend/shared/prompts/workflow_gen_simplified.j2
Due: none

remove 4.1 nano
  apps/backend/shared/models/node_enums.py
Due: none

Fix start_from_node input data passing issue
  apps/backend/execute_workflow.json
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/openai_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-workflow-engine

add gpt-5-mini-2025-08-07 model
  apps/backend/shared/models/node_enums.py
Due: none

update
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/claude_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/gemini_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/openai_provider.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/database/seed_data.sql
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/openai_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/google_calendar.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
Due: test-workflow-engine

gfix: params process
  apps/backend/shared/node_specs/communication_protocol.py
  apps/backend/workflow_engine/debug_ai_slack_integration.md
  apps/backend/workflow_engine/tests/test_ai_node_data_transformation.py
  apps/backend/workflow_engine/tests/test_ai_slack_integration.py
  apps/backend/workflow_engine/tests/test_simple_transformation.py
  apps/backend/workflow_engine/tests/test_transformation_fix.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/openai_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-workflow-engine

save progress
  apps/backend/shared/node_specs/communication_protocol.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
Due: none

update
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
  apps/backend/workflow_scheduler/triggers/github_trigger.py
Due: none

improve yarn build warnings
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/ui/ai-prompt-box.tsx
  apps/frontend/agent_team_web/src/components/ui/avatar.tsx
  apps/frontend/agent_team_web/src/components/ui/login-1.tsx
  apps/frontend/agent_team_web/src/components/ui/login-supabase.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/contexts/auth-context.tsx
  apps/frontend/agent_team_web/src/lib/api/fetcher.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
Due: none

execution logs improvement
  apps/backend/shared/models/db_models.py
  apps/backend/workflow_engine/comprehensive_logging_demo.py
  apps/backend/workflow_engine/demo_business_logger.py
  apps/backend/workflow_engine/examples/unified_logging_usage.py
  apps/backend/workflow_engine/execution_service_status_enhancement.py
  apps/backend/workflow_engine/migrations/add_unified_log_fields.sql
  apps/backend/workflow_engine/test_business_logger.py
  apps/backend/workflow_engine/test_pagination_simple.py
  apps/backend/workflow_engine/workflow_engine/api/v1/execution_logs.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/main.py
  apps/backend/workflow_engine/workflow_engine/services/execution_log_service.py
  apps/backend/workflow_engine/workflow_engine/services/robust_status_manager.py
  apps/backend/workflow_engine/workflow_engine/services/unified_log_service.py
  apps/backend/workflow_engine/workflow_engine/tests/test_unified_pagination.py
  apps/backend/workflow_engine/workflow_engine/utils/business_logger.py
  apps/backend/workflow_engine/workflow_execution_status_audit.py
  apps/demo_apps/workflow_execution_monitor/.gitignore
  apps/demo_apps/workflow_execution_monitor/README.md
  apps/demo_apps/workflow_execution_monitor/eslint.config.mjs
  apps/demo_apps/workflow_execution_monitor/next.config.ts
  apps/demo_apps/workflow_execution_monitor/package.json
  apps/demo_apps/workflow_execution_monitor/postcss.config.mjs
  apps/demo_apps/workflow_execution_monitor/public/file.svg
  apps/demo_apps/workflow_execution_monitor/public/globe.svg
  apps/demo_apps/workflow_execution_monitor/public/next.svg
  apps/demo_apps/workflow_execution_monitor/public/vercel.svg
  apps/demo_apps/workflow_execution_monitor/public/window.svg
  apps/demo_apps/workflow_execution_monitor/src/app/favicon.ico
  apps/demo_apps/workflow_execution_monitor/src/app/globals.css
  apps/demo_apps/workflow_execution_monitor/src/app/layout.tsx
  apps/demo_apps/workflow_execution_monitor/src/app/page.tsx
  apps/demo_apps/workflow_execution_monitor/tsconfig.json
  apps/demo_apps/workflow_execution_monitor/yarn.lock
  docs/development/workflow_engine_analysis.md
  docs/tech-design/execution_log_api_design.md
  docs/tech-design/frontend_integration_examples.md
  docs/tech-design/unified_log_table_design.md
Due: test-workflow-engine

update
  .github/workflows/deploy.yml
  infra/variables.tf
Due: none

Fix Google Calendar OAuth to use same storage pattern as Notion
  apps/backend/workflow_engine/workflow_engine/core/config.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
Due: test-workflow-engine

fix: add get workflow uid paramerter
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
Due: test-api-gateway

fix workflow execution with manual trigger
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/check_execution.py
  apps/backend/get_workflow_definition.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/test_integration.py
  apps/backend/workflow_engine/workflow_engine/api/v1/executions.py
  apps/backend/workflow_engine/workflow_engine/api/v1/workflows.py
  apps/backend/workflow_engine/workflow_engine/services/execution_log_service.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service_old.py
  apps/backend/workflow_engine/workflow_engine/services/supabase_execution_service.py
  apps/backend/workflow_engine/workflow_engine/services/supabase_repository.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_service.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_service_old.py
  apps/backend/workflow_scheduler/api/executions.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/services/trigger_manager.py
  apps/backend/workflow_scheduler/triggers/base.py
  apps/backend/workflow_scheduler/triggers/manual_trigger.py
  apps/demo_apps/workflow_execution_monitor/package-lock.json
  apps/demo_apps/workflow_execution_monitor/package.json
  apps/demo_apps/workflow_execution_monitor/src/components/ui/TriggerInvocationForm.tsx
  apps/demo_apps/workflow_execution_monitor/src/components/workflow/WorkflowVisualization.tsx
  apps/demo_apps/workflow_execution_monitor/src/services/api.ts
  apps/demo_apps/workflow_execution_monitor/src/types/workflow.ts
  apps/demo_apps/workflow_execution_monitor/yarn.lock
Due: test-api-gateway, test-workflow-engine

Fix workflow creation JSON parsing issues
  apps/backend/chat.py
  apps/backend/docker-compose.yml
  apps/backend/test_llm_config.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/llm_provider.py
  apps/backend/workflow_agent/docs/LLM_PROVIDER_CONFIG.md
  apps/backend/workflow_agent/test_llm_provider.py
  apps/backend/workflow_engine/workflow_engine/services/supabase_workflow_service.py
Due: test-workflow-agent, test-workflow-engine

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
