Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

update
  apps/backend/workflow_engine/workflow_engine/main.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

support edit workflow
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/shared/models/chat.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/main.py
  apps/backend/workflow_agent/services/fastapi_server.py
Due: test-api-gateway, test-workflow-agent

update
  infra/load_balancer.tf
Due: none

Fix Google Calendar OAuth configuration and flow
  apps/backend/env.example
  apps/backend/shared/sdks/api_call_sdk/client.py
  apps/backend/shared/sdks/google_calendar_sdk/client.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/google_calendar.py
  apps/backend/workflow_scheduler/api/auth.py
  apps/backend/workflow_scheduler/core/config.py
Due: test-workflow-engine

Feat/verify memory node (#77)
  apps/backend/workflow_engine/test_oauth2_integration.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/execution_engine_simple.py
  apps/backend/workflow_engine/workflow_engine/main.py
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/flow_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/tool_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_engine/workflow_engine/services/simple_service.py
  infra/load_balancer.tf
Due: test-workflow-engine

fix j2 template
  apps/backend/shared/prompts/workflow_gen_simplified.j2
Due: none

fix workflow generation
  apps/backend/api-gateway/app/services/workflow_agent_http_client.py
  apps/backend/chat.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/fastapi_server.py
Due: test-api-gateway, test-workflow-agent

update default model
  apps/backend/workflow_agent/core/config.py
Due: test-workflow-agent

fix: update workflow list interface
  apps/backend/workflow_engine/workflow_engine/services/workflow_service.py
Due: test-workflow-engine

update
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/README.md
  apps/backend/shared/node_specs/communication_protocol.py
  apps/backend/shared/node_specs/comprehensive_test.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/memory_nodes.py
  apps/backend/shared/node_specs/integration_test.py
  apps/backend/tests/test_openai_mcp_integration.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/dsl/examples.yaml
  apps/backend/workflow_agent/tests/conftest.py
  apps/backend/workflow_agent/tests/test_simplified_nodes.py
  apps/backend/workflow_engine/CLAUDE.md
  apps/backend/workflow_engine/doc/NODE_PARAMETERS_GUIDE.md
  apps/backend/workflow_engine/examples/connection_system_demo.py
  apps/backend/workflow_engine/examples/node_execution_demo.py
  apps/backend/workflow_engine/examples/node_spec_usage_example.py
  apps/backend/workflow_engine/examples/workflow_example.py
  apps/backend/workflow_engine/memory_implementations/conversation_buffer.py
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
  apps/backend/workflow_engine/memory_implementations/entity_memory.py
  apps/backend/workflow_engine/memory_implementations/graph_memory.py
  apps/backend/workflow_engine/memory_implementations/knowledge_base.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-agent, test-workflow-engine

update (#82)
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/README.md
  apps/backend/shared/node_specs/communication_protocol.py
  apps/backend/shared/node_specs/comprehensive_test.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/memory_nodes.py
  apps/backend/shared/node_specs/integration_test.py
  apps/backend/tests/test_openai_mcp_integration.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/dsl/examples.yaml
  apps/backend/workflow_agent/tests/conftest.py
  apps/backend/workflow_agent/tests/test_simplified_nodes.py
  apps/backend/workflow_engine/CLAUDE.md
  apps/backend/workflow_engine/doc/NODE_PARAMETERS_GUIDE.md
  apps/backend/workflow_engine/examples/connection_system_demo.py
  apps/backend/workflow_engine/examples/node_execution_demo.py
  apps/backend/workflow_engine/examples/node_spec_usage_example.py
  apps/backend/workflow_engine/examples/workflow_example.py
  apps/backend/workflow_engine/memory_implementations/conversation_buffer.py
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
  apps/backend/workflow_engine/memory_implementations/entity_memory.py
  apps/backend/workflow_engine/memory_implementations/graph_memory.py
  apps/backend/workflow_engine/memory_implementations/knowledge_base.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-agent, test-workflow-engine

update
  apps/backend/workflow_scheduler/api/auth.py
  apps/backend/workflow_scheduler/services/deployment_service.py
Due: none

update memory node and human in the loop node
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/human_in_loop.py
  apps/backend/shared/models/node_enums.py
  apps/backend/workflow_engine/database/migrations/002_hil_system_schema.sql
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/services/channel_integration_manager.py
  apps/backend/workflow_engine/workflow_engine/services/hil_response_classifier.py
  apps/backend/workflow_engine/workflow_engine/services/hil_timeout_manager.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_status_manager.py
  docs/tech-design/hil-node-data-formats.md
  docs/tech-design/human-in-loop-node-system.md
  supabase/migrations/20250901000001_hil_system_schema.sql
Due: test-workflow-engine

fix duplication
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

fix memory node
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

fix
  apps/backend/workflow_engine/examples/daily_weather_workflow.json
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

revamp conversation summary node
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

update
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
  apps/backend/workflow_engine/pyproject.toml
  apps/backend/workflow_engine/requirements.txt
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_scheduler/pyproject.toml
Due: test-workflow-engine

improve conversation summary node
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
Due: test-workflow-engine

update variables
  .github/workflows/deploy.yml
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: none

update
  apps/backend/api-gateway/app/services/workflow_agent_http_client.py
  apps/backend/chat.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/shared/prompts/workflow_validation.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/base.py
Due: test-api-gateway, test-workflow-agent, test-workflow-engine

optimize human in the loop node
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/app/services/workflow_agent_http_client.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/models/workflow.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/node_specs/definitions/human_loop_nodes.py
  apps/backend/shared/node_specs/registry.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_engine/test_hil_integration.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/services/hil_service.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_status_manager.py
  docs/tech-design/human-in-loop-node-system.md
Due: test-api-gateway, test-workflow-agent, test-workflow-engine

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
