Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

Fix all test failures: MCP tools, import paths, and test expectations
  apps/backend/api-gateway/.gitignore
  apps/backend/api-gateway/CLAUDE.md
  apps/backend/api-gateway/api_gateway_test.json
  apps/backend/api-gateway/app/api/mcp/google_calendar_tools.py
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/core/__init__.py
  apps/backend/api-gateway/app/exceptions.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/api-gateway/docs/API_DOC.md
  apps/backend/api-gateway/docs/FRONTEND_INTEGRATION.md
  apps/backend/api-gateway/docs/SUPABASE_AUTH.md
  apps/backend/api-gateway/docs/UPGRADE_GUIDE.md
  apps/backend/api-gateway/docs/workflow_api.md
  apps/backend/api-gateway/pytest.ini
  apps/backend/api-gateway/run_integration_tests.sh
  apps/backend/api-gateway/sql/chat.sql
  apps/backend/api-gateway/start.sh
  apps/backend/api-gateway/tests/README.md
  apps/backend/api-gateway/tests/run_debug_test.sh
  apps/backend/api-gateway/tests/test_google_calendar_mcp.py
  apps/backend/api-gateway/tests/test_integration.py
  apps/backend/api-gateway/tests/test_mcp_endpoints.py
  apps/backend/api-gateway/tests/test_notion_mcp_enhanced.py
Due: test-api-gateway

feat: sidebar init
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/globals.css
  apps/frontend/agent_team_web/src/app/layout.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/ui/layout-wrapper.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
  apps/frontend/agent_team_web/src/components/ui/skeleton.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CanvasControls.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeSidebar/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/contexts/page-title-context.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

feat: fix lint
  apps/demo_apps/workflow_execution_monitor/package-lock.json
  apps/demo_apps/workflow_execution_monitor/yarn.lock
  apps/frontend/agent_team_web/next.config.ts
  apps/frontend/agent_team_web/package-lock.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/ui/avatar.tsx
  apps/frontend/agent_team_web/src/components/ui/layout-wrapper.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/lib/api/fetcher.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/types/workflow-editor.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
Due: none

feat: enhance UI with modal login and minor improvements
  apps/frontend/agent_team_web/src/components/ui/login-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
Due: none

feat: add modal-based pricing and login dialogs with improved UI
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/blocks/pricing-section.tsx
  apps/frontend/agent_team_web/src/components/ui/avatar.tsx
  apps/frontend/agent_team_web/src/components/ui/login-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/pricing-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/pricing-section-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
Due: none

fix sigature typo
  apps/backend/shared/node_specs/__init__.py
Due: none

fix
  apps/backend/api-gateway/tests/test_mcp_performance.py
Due: test-api-gateway

fix
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/models/workflow_complete.py
  apps/backend/shared/models/workflow_new.py
  apps/backend/shared/services/node_specs_api_service.py
  apps/backend/workflow_engine/tests/integration/test_database_integration/test_execution_logs.py
  apps/backend/workflow_engine/tests/integration/test_individual_nodes/test_tool_node.py
  apps/backend/workflow_engine/tests/integration/test_multi_node_workflows/test_branching_workflows.py
  apps/backend/workflow_engine/tests/integration/test_multi_node_workflows/test_complex_workflows.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
Due: test-api-gateway, test-workflow-engine

fix RLS
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-workflow-engine

Frontend MVP (#102)
  apps/demo_apps/workflow_execution_monitor/package-lock.json
  apps/demo_apps/workflow_execution_monitor/yarn.lock
  apps/frontend/agent_team_web/design/api1.json
  apps/frontend/agent_team_web/next.config.ts
  apps/frontend/agent_team_web/package-lock.json
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/globals.css
  apps/frontend/agent_team_web/src/app/layout.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/blocks/pricing-section.tsx
  apps/frontend/agent_team_web/src/components/ui/avatar.tsx
  apps/frontend/agent_team_web/src/components/ui/layout-wrapper.tsx
  apps/frontend/agent_team_web/src/components/ui/login-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/pricing-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/pricing-section-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
  apps/frontend/agent_team_web/src/components/ui/skeleton.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CanvasControls.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeSidebar/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/contexts/page-title-context.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/lib/api/fetcher.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/types/workflow-editor.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

fix deployment issue
  .github/workflows/deploy.yml
  infra/deploy.sh
Due: none

api-gateway migrate to use v2 API for engine
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
Due: test-api-gateway

add SUPABASE_PUB_KEY
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/app/core/database.py
  apps/backend/api-gateway/tests/interactive_chat_client.py
  apps/backend/shared/models/supabase.py
  apps/backend/tests/utils/test_config.py
  apps/backend/workflow_engine/tests/integration/utils/lifecycle_utils.py
  apps/backend/workflow_scheduler/core/config.py
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: test-api-gateway, test-workflow-engine

align WorkflowDeploymentStatus
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
Due: none

update enums in frontend
  apps/backend/scripts/migrate_workflows.py
  apps/backend/shared/models/db_models.py
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/backend/workflow_scheduler/utils/manual_db_update.py
  apps/backend/workflow_scheduler/utils/run_migrations.py
  apps/frontend/agent_team_web/design/api.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
  supabase/migrations/20251003000001_rename_draft_to_idle.sql
Due: test-workflow-engine

Feat/frontend update api schema (#104)
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/app/core/database.py
  apps/backend/api-gateway/tests/interactive_chat_client.py
  apps/backend/scripts/migrate_workflows.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/supabase.py
  apps/backend/tests/utils/test_config.py
  apps/backend/workflow_engine/main.py
  apps/backend/workflow_engine/tests/integration/utils/lifecycle_utils.py
  apps/backend/workflow_scheduler/core/config.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/backend/workflow_scheduler/utils/manual_db_update.py
  apps/backend/workflow_scheduler/utils/run_migrations.py
  apps/frontend/agent_team_web/design/api.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
  supabase/migrations/20251003000001_rename_draft_to_idle.sql
Due: test-api-gateway, test-workflow-engine

feat: add edit flow tester and sample workflows
  apps/backend/chat_edit.py
  apps/backend/workflow_edited.json
  apps/backend/workflow_original.json
Due: none

fix enum inconsistency
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/workflows.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/execution_new.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
  supabase/migrations/20251003000002_simplify_deployment_status.sql
  supabase/migrations/20251003000003_fix_trigger_index_missing_column.sql
Due: test-api-gateway

Feat/frontend update api schema (#105)
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/workflows.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/execution_new.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
  supabase/migrations/20251003000002_simplify_deployment_status.sql
  supabase/migrations/20251003000003_fix_trigger_index_missing_column.sql
Due: test-api-gateway

fix: preserve workflow metadata during edit
  AGENTS.md
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/api-gateway/app/services/node_knowledge_service.py
  apps/backend/shared/prompts/conversion_generation.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/workflow_agent.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_agent/tests/test_models.py
  apps/backend/workflow_agent/tests/test_simplified_nodes.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-api-gateway, test-workflow-agent

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
