Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

feat: fix excute id
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/core/engine.py
Due: none

save progress
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/docker-compose.yml
  apps/backend/shared/models/mcp.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/workflow_engine_v2/api/models.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/runners/ai.py
  apps/backend/workflow_engine_v2/runners/ai_anthropic.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  apps/backend/workflow_engine_v2/runners/factory.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_engine_v2/tests/test_ai_memory_integration.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  apps/backend/workflow_scheduler/utils/manual_db_update.py
Due: test-api-gateway

feat: fix excution api get
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_engine_v2/services/workflow_status_manager.py
Due: test-api-gateway

save progress
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/runners/ai_anthropic.py
  apps/backend/workflow_engine_v2/runners/external.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
  apps/backend/workflow_engine_v2/runners/tool.py
Due: test-api-gateway

implement AI-powered notion node
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/test_notion_direct.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_ai_helpers.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
Due: none

optimzie external action nodes
  apps/backend/shared/sdks/github_sdk/auth.py
  apps/backend/test_github_direct.py
  apps/backend/test_slack_direct.py
  apps/backend/workflow_engine/nodes/external_actions/slack_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/github_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/google_calendar_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/slack_external_action.py
Due: test-workflow-engine

Feat/system prompt appendix (#122)
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/tests/README.md
  apps/backend/docker-compose.yml
  apps/backend/shared/models/mcp.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/sdks/github_sdk/auth.py
  apps/backend/test_github_direct.py
  apps/backend/test_notion_direct.py
  apps/backend/test_slack_direct.py
  apps/backend/workflow_engine/nodes/external_actions/slack_external_action.py
  apps/backend/workflow_engine_v2/api/models.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/runners/ai_anthropic.py
  apps/backend/workflow_engine_v2/runners/external.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/github_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/google_calendar_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_ai_helpers.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
  apps/backend/workflow_engine_v2/runners/external_actions/slack_external_action.py
  apps/backend/workflow_engine_v2/runners/factory.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/runners/tool.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/backend/workflow_engine_v2/services/workflow_status_manager.py
  apps/backend/workflow_engine_v2/tests/test_ai_memory_integration.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/direct_db_service.py
  apps/backend/workflow_scheduler/services/workflow_repository.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  apps/backend/workflow_scheduler/utils/manual_db_update.py
Due: test-api-gateway, test-workflow-engine

feat: fix instance use
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/core/engine.py
Due: test-api-gateway

feat: add notion & slack intergration api
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/core/database_direct.py
  apps/backend/api-gateway/docs/API_DOC.md
  apps/backend/shared/sdks/notion_sdk/client.py
  apps/backend/shared/sdks/notion_sdk/models.py
  apps/backend/shared/sdks/slack_sdk/client.py
Due: test-api-gateway

Optimize workflow generation performance: 65-85% speed improvement
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/workflow_gen_f1.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/tests/test_openai_mcp_integration.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/config.py
Due: test-workflow-agent

Optimize workflow generation performance: 70-85% speed improvement
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/clarification_f2_user.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
Due: none

Restore critical attached_nodes logic for AI_AGENT nodes
  apps/backend/shared/prompts/workflow_gen_simplified.j2
Due: none

fix notion MCP
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/middleware/auth.py
  apps/backend/shared/node_specs/TOOL/GOOGLE_CALENDAR_MCP_TOOL.py
  apps/backend/shared/node_specs/TOOL/NOTION_MCP_TOOL.py
  apps/backend/shared/node_specs/TOOL/SLACK_MCP_TOOL.py
  apps/backend/test_ai_agent_notion_mcp.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/core/graph.py
  apps/backend/workflow_engine_v2/core/validation.py
  apps/backend/workflow_engine_v2/runners/ai_anthropic.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/runners/tool.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-api-gateway

update AI Agent output params in node specs
  apps/backend/shared/node_specs/AI_AGENT/ANTHROPIC_CLAUDE.py
  apps/backend/shared/node_specs/AI_AGENT/GOOGLE_GEMINI.py
  apps/backend/shared/node_specs/AI_AGENT/OPENAI_CHATGPT.py
  apps/backend/workflow_engine_v2/core/engine.py
Due: none

feat: add notion & slack configration check
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/frontend/agent_team_web/design/api.json
  apps/frontend/agent_team_web/design/api.md
  apps/frontend/agent_team_web/design/api1.json
Due: test-api-gateway

fix: resolve channel configuration issues and clean workflow DSL
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GITHUB.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GOOGLE_CALENDAR.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/shared/node_specs/HUMAN_IN_THE_LOOP/SLACK_INTERACTION.py
  apps/backend/shared/node_specs/TOOL/GOOGLE_CALENDAR_MCP_TOOL.py
  apps/backend/shared/node_specs/TOOL/NOTION_MCP_TOOL.py
  apps/backend/shared/node_specs/TOOL/SLACK_MCP_TOOL.py
  apps/backend/shared/node_specs/TRIGGER/SLACK.py
  apps/backend/shared/prompts/conversion_generation.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/test_channel_configuration_fix.py
  apps/backend/test_simple_fix_validation.py
  apps/backend/update_mcp_specs_placeholders.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine_v2/runners/ai.py
Due: test-workflow-agent

save progress
  CODEX_REQUIREMENTS.md
  apps/backend/WORKFLOW_DELETE_MIGRATION.md
  apps/backend/api-gateway/app/api/app/executions.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/scripts/generate_workflow_icons.py
  apps/backend/shared/models/common.py
  apps/backend/shared/services/node_specs_api_service.py
  apps/backend/test_workflow_deletion.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/services/workflow.py
  apps/frontend/agent_team_web/DEBUG_ICONS.md
  apps/frontend/agent_team_web/src/app/api/proxy/[...path]/route.ts
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeSidebar/NodeTemplateCard.tsx
  apps/frontend/agent_team_web/src/lib/api/config.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
  apps/frontend/agent_team_web/src/store/atoms/nodeTemplates.ts
  apps/frontend/agent_team_web/src/store/hooks/useNodeTemplates.ts
  apps/frontend/agent_team_web/src/types/node-template.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/nodeHelpers.ts
  supabase/migrations/20251007000001_add_cascade_delete_constraints.sql
Due: test-api-gateway, test-workflow-agent

fix: unblock hil workflow pause handling
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/runners/hil.py
  apps/backend/workflow_engine_v2/services/hil_service.py
Due: none

fix: improve conversion function generation and simplify AI agent prompts
  apps/backend/shared/prompts/conversion_generation.j2
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

feat: fix excutino error & connection
  apps/backend/workflow_engine_v2/runners/ai_openai.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
Due: none

fix bugs
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/FormRenderer.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/JsonEditorField.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/nodes/FlowNode.tsx
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/store/hooks/useNodeTemplates.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
Due: none

Resolve merge conflict and build issue (#132)
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/ui/avatar.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/FormRenderer.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/DynamicMultiSelectField.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/DynamicSelectField.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/fields/JsonEditorField.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/nodes/FlowNode.tsx
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/store/hooks/useNodeTemplates.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
Due: none

feat: create new flow
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
  apps/frontend/agent_team_web/src/components/ui/agent-team-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/ai-prompt-box.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
Due: none

update node templates API to include input_params and output_params
  apps/backend/shared/models/common.py
  apps/backend/shared/services/node_specs_api_service.py
  apps/backend/workflow_engine_v2/runners/external_actions/notion_external_action.py
Due: none

fix: lint
  apps/frontend/agent_team_web/design/api.json
  apps/frontend/agent_team_web/src/app/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/new/page.tsx
Due: none

feat: op ui
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/ui/agent-team-dialog.tsx
Due: none

update
  apps/backend/api-gateway/app/api/app/executions.py
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/api/v2/logs.py
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/services/user_friendly_logger.py
Due: test-api-gateway

feat: add oauth page
  apps/frontend/agent_team_web/src/app/components/page.tsx
  apps/frontend/agent_team_web/src/components/ui/agent-team-dialog.tsx
  apps/frontend/agent_team_web/src/components/ui/ai-prompt-box.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
  apps/frontend/agent_team_web/src/lib/api/config.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useIntegrationsApi.ts
Due: none

feat: oauth
  apps/frontend/agent_team_web/src/app/authorizations/page.tsx
  apps/frontend/agent_team_web/src/components/ui/layout-wrapper.tsx
  apps/frontend/agent_team_web/src/components/ui/sidebar-navigation.tsx
Due: none

feat: op ui
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/ui/layout-wrapper.tsx
  apps/frontend/agent_team_web/src/components/ui/tooltip.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useIntegrationsApi.ts
Due: none

add redirect_uri in oauth flow
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/test_integration_validation.py
Due: test-api-gateway

feat: op auth skeleton
  apps/frontend/agent_team_web/src/app/authorizations/page.tsx
Due: none

feat: add run workflow dialog with node selection and input configuration
  apps/frontend/agent_team_web/src/app/authorizations/page.tsx
  apps/frontend/agent_team_web/src/app/workflow/[id]/page.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/RunWorkflowDialog/index.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useIntegrationsApi.ts
  apps/frontend/agent_team_web/src/types/node-template.ts
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
