Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: test-api-gateway
        name: Test API Gateway
        entry: bash -c 'cd apps/backend/api-gateway && pip install uv && uv sync && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v --cov=app --cov-report=xml --ignore=tests/test_integration.py --ignore=tests/test_integration_quick.py --ignore=tests/test_chat_stream_simple.py --ignore=tests/test_sessions_chat_debug.py'
        language: system
        files: ^apps/backend/api-gateway/.*\.py$
        pass_filenames: false

      - id: test-workflow-agent
        name: Test Workflow Agent
        entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_agent/.*\.py$
        pass_filenames: false

      - id: test-workflow-engine
        name: Test Workflow Engine
        entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_engine/.*\.py$
        pass_filenames: false

fix: Model compatibility and configuration issues
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/workflow_data_generator.py
  infra/ecs.tf
Due: test-workflow-agent

fix: Use correct GPT-4.1 model name (gpt-4-1106-preview)
  infra/ecs.tf
Due: none

fix: Use gpt-4.1 as model name
  infra/ecs.tf
Due: none

fix: Remove undefined 'error' field from WorkflowState
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

fix: Workflow creation and retry logic improvements
  apps/backend/chat_prod.py
  apps/backend/tests/integration/test_end_to_end_workflow.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
Due: test-workflow-agent

fix subtypes
  apps/backend/chat.py
  apps/backend/shared/prompts/workflow_gen_f1.j2
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-agent, test-workflow-engine

Remove users table and resolve foreign keys
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/workflow_engine/database/migrations/remove_user_id_fkey.sql
  docs/tech-design/github-app-integration.md
  docs/tech-design/slack-app-integration.md
  supabase/migrations/20250813000004_consolidated_fkey_migration.sql
Due: test-api-gateway

remove public.users table
  supabase/migrations/20250715000001_initial_schema.sql
  supabase/migrations/20250802000001_external_api_integration.sql
  supabase/migrations/20250806190000_add_workflow_deployment_fields.sql
  supabase/migrations/20250813000007_complete_public_users_removal.sql
Due: none

fix github installation
  apps/backend/api-gateway/app/api/public/webhooks.py
  docs/development/SUPABASE_RPC_FUNCTIONS.md
  supabase/migrations/20250813000008_add_check_user_exists_function.sql
Due: test-api-gateway

draft
  docs/product-design/pmo_agent_workflow.md
Due: none

node specs update
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/definitions/action_nodes.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/node_specs/definitions/flow_nodes.py
  apps/backend/shared/node_specs/definitions/human_loop_nodes.py
  apps/backend/shared/node_specs/definitions/memory_nodes.py
  apps/backend/shared/node_specs/definitions/tool_nodes.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_scheduler/api/auth.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/main.py
Due: test-workflow-engine

update
  apps/backend/shared/models/trigger.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_scheduler/triggers/github_trigger.py
  docs/development/workflows_for_trigger_debug.md
  docs/tech-design/workflow-scheduler-architecture.md
Due: none

feat: start integrating data fetching with SWR
  apps/frontend/agent_team_web/design/api1.json
  apps/frontend/agent_team_web/next.config.ts
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/components/workflow/NodeSidebar/index.tsx
  apps/frontend/agent_team_web/src/lib/api/config.ts
  apps/frontend/agent_team_web/src/lib/api/fetcher.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useNodeTemplatesApi.ts
  apps/frontend/agent_team_web/src/lib/api/hooks/useWorkflowsApi.ts
  apps/frontend/agent_team_web/src/lib/api/index.ts
  apps/frontend/agent_team_web/src/store/hooks/useNodeTemplates.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

deprecate node_templates and use node specs instead
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/shared/node_specs/base.py
  apps/backend/shared/node_specs/definitions/action_nodes.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/node_specs/definitions/flow_nodes.py
  apps/backend/shared/node_specs/definitions/human_loop_nodes.py
  apps/backend/shared/node_specs/definitions/memory_nodes.py
  apps/backend/shared/node_specs/definitions/tool_nodes.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/shared/services/node_specs_api_service.py
  apps/backend/workflow_engine/requirements.txt
  apps/backend/workflow_engine/workflow_engine/api/v1/workflows.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_service.py
Due: test-api-gateway, test-workflow-engine

update prompt
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/clarification_f2_user.j2
  apps/backend/test_clarification_improvements.py
  apps/backend/uv.lock
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_engine/pyproject.toml
  apps/backend/workflow_engine/requirements.txt
Due: test-workflow-agent

fix
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/status.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/workflow.py
  apps/backend/shared/node_specs/validator.py
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/flow_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/tool_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  supabase/migrations/20250814000001_make_session_id_optional.sql
Due: test-api-gateway, test-workflow-engine

fix: handle event_config as JSON string in GitHub trigger
  apps/backend/workflow_scheduler/triggers/github_trigger.py
Due: none

Fix workflow generation and add comprehensive integration tests
  apps/backend/PRODUCT_SOLUTION.md
  apps/backend/TEST_WORKFLOW_README.md
  apps/backend/WORKFLOW_TEST_FIX_SUMMARY.md
  apps/backend/api-gateway/app/services/node_knowledge_service.py
  apps/backend/shared/prompts/workflow_gen_f1.j2
  apps/backend/test_workflow_validation.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/workflow_data_generator.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/flow_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/tool_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/github.py
  apps/backend/workflow_engine/workflow_engine/utils/template_resolver.py
Due: test-api-gateway, test-workflow-agent, test-workflow-engine

Add comprehensive project summary documentation
  apps/backend/PROJECT_SUMMARY.md
Due: none

Fix CI test failures in node_knowledge_service
  apps/backend/api-gateway/app/services/node_knowledge_service.py
Due: test-api-gateway
