Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

feat:fix connection map level
  apps/backend/shared/models/workflow.py
  apps/backend/shared/node_specs/validator.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_service.py
  apps/backend/workflow_engine/workflow_engine/utils/node_id_generator.py
  apps/backend/workflow_engine/workflow_engine/utils/workflow_validator.py
  create_manual_workflow.sh
  create_manual_workflow_auto_id.sh
  create_manual_workflow_final.sh
  create_manual_workflow_name_based.sh
  create_manual_workflow_v2.sh
  create_workflow_curl.sh
  debug_validation.sh
  test_name_based_connections.sh
  test_simplest_workflow.sh
  test_with_ids.sh
  test_with_if_node.sh
  workflow_data.json
Due: test-workflow-engine

feat:fix aws internal http call
  infra/ecs.tf
  infra/load_balancer.tf
Due: none

delete: test & sh file
  check_db_connections.py
  create_manual_workflow.sh
  create_manual_workflow_auto_id.sh
  create_manual_workflow_final.sh
  create_manual_workflow_name_based.sh
  create_manual_workflow_v2.sh
  create_simplified_workflow.sh
  create_test_workflow.py
  create_workflow_curl.sh
  create_workflow_with_curl.py
  create_workflow_with_simplified_connections.sh
  debug_get_workflow.sh
  debug_validation.sh
  debug_workflow_data.sh
  direct_workflow_creation.sh
  final_validation_test.py
  get_workflow_curl.sh
  query_workflow.sh
  show_readable_logs.py
  simple_validation_test.py
  test_connections_serialization.py
  test_enhanced_log_format.py
  test_get_old_workflow.sh
  test_log_format.py
  test_log_standalone.py
  test_name_based_connections.sh
  test_simple_workflow.sh
  test_simplest_workflow.sh
  test_spec_loading.py
  test_trace_id_logging.py
  test_trace_id_logging_README.md
  test_trace_id_results.json
  test_with_ids.sh
  test_with_if_node.sh
  test_workflow_validation.py
Due: none

fix:aws interface
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/workflow_engine/workflow_engine/api/v1/workflows.py
  infra/load_balancer.tf
Due: test-api-gateway, test-workflow-engine

fix: remove duplicate /v1/node-templates from ALB routing rules
  infra/load_balancer.tf
Due: none

fix: resolve FastAPI route ordering issue for node-templates endpoint
  apps/backend/workflow_engine/scripts/check_node_templates.py
  apps/backend/workflow_engine/scripts/init_node_templates.py
  apps/backend/workflow_engine/workflow_engine/api/v1/workflows.py
Due: test-workflow-engine

rm legacy
  apps/backend/workflow_agent/CLAUDE.md
  apps/backend/workflow_agent/Dockerfile
  apps/backend/workflow_agent/README.md
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/debug_server.py
  apps/backend/workflow_agent/main.py
  apps/backend/workflow_agent/pyproject.toml
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
Due: test-workflow-agent

rm legacy
  apps/backend/req.md
  apps/backend/test_chat_flow.py
  apps/backend/test_chat_simple.py
  apps/backend/test_interactive_e2e.py
  apps/backend/test_workflow_list.py
  apps/backend/workflow_agent/DOCKER_README.md
  apps/backend/workflow_agent/debug_server.py
  apps/backend/workflow_agent/start_docker.sh
  apps/backend/workflow_agent/stop_docker.sh
  apps/backend/workflow_agent/test_workflow_termination.py
Due: test-workflow-agent

fix: Add missing os import in workflow_engine main.py
  apps/backend/workflow_engine/workflow_engine/main.py
Due: test-workflow-engine

adjust api validation
  apps/backend/api-gateway/api_gateway_test.json
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/utils/node_converter.py
  apps/backend/api-gateway/test_node_converter.py
  apps/backend/api-gateway/test_unified_workflow.sh
  apps/backend/api-gateway/workflow_test_result.json
  apps/backend/workflow_engine/database/migrations/insert_node_templates_fixed.sql
  apps/backend/workflow_engine/database/migrations/remove_user_id_fkey.sql
  apps/backend/workflow_engine/examples/create_workflow_curls.sh
  apps/backend/workflow_engine/examples/daily_weather_workflow.json
  apps/backend/workflow_engine/examples/final_workflow_curl.sh
  apps/backend/workflow_engine/examples/simple_workflow_curl.sh
  apps/backend/workflow_engine/examples/test_workflow_creation.sh
  apps/backend/workflow_engine/examples/weather_workflow_fixed.sh
  apps/backend/workflow_engine/examples/working_workflow_curl.sh
  apps/backend/workflow_engine/workflow_engine/utils/workflow_validator.py
Due: test-api-gateway, test-workflow-engine

update prompts
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/clarification_f2_user.j2
  apps/backend/shared/prompts/gap_analysis_f2_system.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/workflow_agent.py
Due: test-workflow-agent

enhance execute detail
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/execution.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/test_unified_workflow.py
  apps/backend/workflow_engine/workflow_engine/api/v1/executions.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/models/database.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-api-gateway, test-workflow-engine

implement Slack SDK, Github SDK and adjusted corresponding triggers
  apps/backend/shared/email_client/debug_email.py
  apps/backend/shared/sdks/email_client/README.md
  apps/backend/shared/sdks/email_client/__init__.py
  apps/backend/shared/sdks/email_client/base.py
  apps/backend/shared/sdks/email_client/config.py
  apps/backend/shared/sdks/email_client/debug_email.py
  apps/backend/shared/sdks/email_client/example_usage.py
  apps/backend/shared/sdks/email_client/migadu_client.py
  apps/backend/shared/sdks/email_client/smtp_client.py
  apps/backend/shared/sdks/email_client/test_migadu.py
  apps/backend/shared/sdks/github_sdk/README.md
  apps/backend/shared/sdks/github_sdk/__init__.py
  apps/backend/shared/sdks/github_sdk/auth.py
  apps/backend/shared/sdks/github_sdk/client.py
  apps/backend/shared/sdks/github_sdk/exceptions.py
  apps/backend/shared/sdks/github_sdk/issues.py
  apps/backend/shared/sdks/github_sdk/models.py
  apps/backend/shared/sdks/github_sdk/pulls.py
  apps/backend/shared/sdks/github_sdk/requirements.txt
  apps/backend/shared/sdks/slack_sdk/README.md
  apps/backend/shared/sdks/slack_sdk/__init__.py
  apps/backend/shared/sdks/slack_sdk/block_builder.py
  apps/backend/shared/sdks/slack_sdk/client.py
  apps/backend/shared/sdks/slack_sdk/exceptions.py
  apps/backend/shared/sdks/slack_sdk/installation.py
  apps/backend/shared/sdks/slack_sdk/requirements.txt
  apps/backend/workflow_scheduler/app/api/github.py
  apps/backend/workflow_scheduler/app/api/triggers.py
  apps/backend/workflow_scheduler/app/services/notification_service.py
  apps/backend/workflow_scheduler/app/triggers/github_trigger.py
  docs/tech-design/github-app-integration.md
  docs/tech-design/slack-app-integration.md
  docs/tech-design/workflow-scheduler-architecture.md
Due: none

clean up
  .pre-commit-config.yaml
  apps/backend/CANCEL_ERROR_FIX.md
  apps/backend/api-gateway/tests/run_integration_tests.sh
  apps/backend/api-gateway/tests/run_mcp_tests.py
  apps/backend/api-gateway/tests/test_node_converter.py
  apps/backend/api-gateway/tests/test_node_knowledge.py
  apps/backend/api-gateway/tests/test_unified_workflow.sh
  apps/backend/api-gateway/workflow_test_result.json
  apps/backend/ecs_deployment_config.md
  apps/backend/tests/test_chat_clean.py
  apps/backend/tests/test_chat_detailed.py
  apps/backend/tests/test_openai_mcp_integration.py
  apps/backend/workflow_engine/tests/test_data_mapping.py
  apps/backend/workflow_scheduler/tests/test_notification.py
Due: test-api-gateway, test-workflow-engine

optimize workflow_scheduler
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_scheduler/api/__init__.py
  apps/backend/workflow_scheduler/api/deployment.py
  apps/backend/workflow_scheduler/api/github.py
  apps/backend/workflow_scheduler/api/slack.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/app/core/config.py
  apps/backend/workflow_scheduler/app/services/__init__.py
  apps/backend/workflow_scheduler/app/triggers/__init__.py
  apps/backend/workflow_scheduler/core/__init__.py
  apps/backend/workflow_scheduler/core/database.py
  apps/backend/workflow_scheduler/dependencies.py
  apps/backend/workflow_scheduler/main.py
  apps/backend/workflow_scheduler/models/__init__.py
  apps/backend/workflow_scheduler/models/database.py
  apps/backend/workflow_scheduler/models/trigger_index.py
  apps/backend/workflow_scheduler/models/triggers.py
  apps/backend/workflow_scheduler/services/__init__.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/event_router.py
  apps/backend/workflow_scheduler/services/lock_manager.py
  apps/backend/workflow_scheduler/services/notification_service.py
  apps/backend/workflow_scheduler/services/slack_event_router.py
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
  apps/backend/workflow_scheduler/services/trigger_manager.py
  apps/backend/workflow_scheduler/test_trigger_system.py
  apps/backend/workflow_scheduler/triggers/__init__.py
  apps/backend/workflow_scheduler/triggers/base.py
  apps/backend/workflow_scheduler/triggers/cron_trigger.py
  apps/backend/workflow_scheduler/triggers/email_trigger.py
  apps/backend/workflow_scheduler/triggers/github_trigger.py
  apps/backend/workflow_scheduler/triggers/manual_trigger.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  apps/backend/workflow_scheduler/triggers/webhook_trigger.py
  docs/tech-design/workflow-scheduler-architecture.md
  supabase/migrations/20250806170000_add_missing_cloud_tables.sql
  supabase/migrations/20250806190000_add_workflow_deployment_fields.sql
  supabase/migrations/20250806200000_add_trigger_index_table.sql
  supabase/seed.sql
Due: none

fix supabase CLI install in CI
  .github/workflows/supabase-migration.yml
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
