Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

update
  scripts/supabase-migrate.sh
Due: none

feat: execute api fix
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-api-gateway

feat: api aysnc excute
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/workflow_engine_v2/services/workflow.py
Due: test-api-gateway

fix status
  apps/backend/api-gateway/app/services/node_knowledge_service.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_edited.json
  apps/backend/workflow_original.json
Due: test-api-gateway

fix: resolve NodeKnowledgeService test failures and Mock object serialization issues
  apps/backend/api-gateway/app/services/node_knowledge_service.py
Due: test-api-gateway

feat: execute api fix
  apps/backend/workflow_engine_v2/services/workflow.py
Due: none

fix GET workflows
  apps/backend/workflow_engine_v2/services/workflow.py
Due: none

add system prompt appendix in node specs
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/execute_workflow.json
  apps/backend/shared/node_specs/EXTERNAL_ACTION/DISCORD_ACTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/FIRECRAWL.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GITHUB.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GOOGLE_CALENDAR.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/TELEGRAM_ACTION.py
  apps/backend/shared/node_specs/base.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/runners/ai.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  supabase/migrations/20250806170000_add_missing_cloud_tables.sql
Due: test-api-gateway

feat: implement test workflow
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

migrate to v2 API
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/workflow_scheduler/api/executions.py
  apps/backend/workflow_scheduler/triggers/base.py
Due: test-api-gateway

update
  apps/backend/workflow_scheduler/triggers/base.py
Due: none

fix
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  infra/ecs.tf
  supabase/migrations/20251004000001_create_execution_status_table.sql
Due: test-api-gateway

fix2
  apps/backend/workflow_engine_v2/core/spec.py
  apps/backend/workflow_engine_v2/core/validation.py
Due: none

add logs
  apps/backend/api-gateway/app/middleware/auth.py
  apps/backend/workflow_engine_v2/core/validation.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
Due: test-api-gateway

update
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/core/validation.py
Due: none

Feat/system prompt appendix (#109)
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/app/middleware/auth.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/execute_workflow.json
  apps/backend/shared/node_specs/EXTERNAL_ACTION/DISCORD_ACTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/FIRECRAWL.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GITHUB.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/GOOGLE_CALENDAR.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/NOTION.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/SLACK.py
  apps/backend/shared/node_specs/EXTERNAL_ACTION/TELEGRAM_ACTION.py
  apps/backend/shared/node_specs/base.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_engine_v2/api/v2/executions.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
  apps/backend/workflow_engine_v2/core/spec.py
  apps/backend/workflow_engine_v2/core/validation.py
  apps/backend/workflow_engine_v2/runners/ai.py
  apps/backend/workflow_engine_v2/runners/external_actions/base_external_action.py
  apps/backend/workflow_engine_v2/runners/mcp_tool_discovery.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_scheduler/api/executions.py
  apps/backend/workflow_scheduler/triggers/base.py
  infra/ecs.tf
  supabase/migrations/20250806170000_add_missing_cloud_tables.sql
  supabase/migrations/20251004000001_create_execution_status_table.sql
Due: test-api-gateway, test-workflow-agent

fix deployment_status validation issue
  apps/backend/workflow_engine_v2/services/workflow.py
Due: none

Fix deployment_status validation error (#110)
  apps/backend/workflow_engine_v2/services/workflow.py
Due: none

fix conversion generations
  apps/backend/shared/prompts/conversion_generation.j2
  apps/backend/workflow_agent/agents/exceptions.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/tests/test_node_descriptions.py
  apps/backend/workflow_engine_v2/api/v2/workflows.py
Due: test-workflow-agent

feat: fix excution run data
  apps/backend/workflow_engine_v2/core/engine.py
  apps/backend/workflow_engine_v2/services/supabase_repository_v2.py
  apps/backend/workflow_engine_v2/utils/run_data.py
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
