Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

fix
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
Due: test-workflow-engine

Update workflow engine (#75)
  .github/workflows/deploy.yml
  apps/backend/shared/models/workflow.py
  apps/backend/shared/node_specs/communication_protocol.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/test_connection_validation.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_call_logger.py
  docs/tech-design/node-communication-protocol.md
  docs/tech-design/node_spec.md
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: test-workflow-engine

implement memory nodes
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/base.py
  apps/backend/shared/node_specs/definitions/ai_agent_nodes.py
  apps/backend/shared/node_specs/definitions/memory_nodes.py
  apps/backend/workflow_engine/CLAUDE.md
  apps/backend/workflow_engine/memory_implementations/MIGRATION_SUMMARY.md
  apps/backend/workflow_engine/memory_implementations/README.md
  apps/backend/workflow_engine/memory_implementations/__init__.py
  apps/backend/workflow_engine/memory_implementations/base.py
  apps/backend/workflow_engine/memory_implementations/conversation_buffer.py
  apps/backend/workflow_engine/memory_implementations/conversation_summary.py
  apps/backend/workflow_engine/memory_implementations/database_migrations.sql
  apps/backend/workflow_engine/memory_implementations/document_store.py
  apps/backend/workflow_engine/memory_implementations/entity_memory.py
  apps/backend/workflow_engine/memory_implementations/episodic_memory.py
  apps/backend/workflow_engine/memory_implementations/examples/basic_usage.py
  apps/backend/workflow_engine/memory_implementations/graph_memory.py
  apps/backend/workflow_engine/memory_implementations/key_value_store.py
  apps/backend/workflow_engine/memory_implementations/knowledge_base.py
  apps/backend/workflow_engine/memory_implementations/memory_context_merger.py
  apps/backend/workflow_engine/memory_implementations/orchestrator.py
  apps/backend/workflow_engine/memory_implementations/requirements.txt
  apps/backend/workflow_engine/memory_implementations/tests/README.md
  apps/backend/workflow_engine/memory_implementations/tests/__init__.py
  apps/backend/workflow_engine/memory_implementations/tests/conftest.py
  apps/backend/workflow_engine/memory_implementations/tests/demo_test.py
  apps/backend/workflow_engine/memory_implementations/tests/simple_test_runner.py
  apps/backend/workflow_engine/memory_implementations/tests/test_ai_node_memory_integration.py
  apps/backend/workflow_engine/memory_implementations/tests/test_memory_llm_integration.py
  apps/backend/workflow_engine/memory_implementations/tests/test_memory_performance.py
  apps/backend/workflow_engine/memory_implementations/tests/test_runner.py
  apps/backend/workflow_engine/memory_implementations/vector_database.py
  apps/backend/workflow_engine/memory_implementations/working_memory.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  supabase/migrations/20250826000001_memory_implementations.sql
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/execution_engine_simple.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/tool_node.py
Due: test-workflow-engine

fix import issue
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/execution_engine_simple.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

update log level
  docs/tech-design/node-communication-protocol.md
  docs/tech-design/node_spec.md
  infra/ecs.tf
Due: none

fix
  apps/backend/workflow_agent/main.py
Due: test-workflow-agent

update ai_agent_node
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

add logging
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/flow_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/tool_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
Due: test-workflow-engine

fix logging
  apps/backend/workflow_engine/workflow_engine/main.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/trigger_node.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

adjust workflow execution
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

clean up
  apps/backend/workflow_engine/test_oauth2_integration.py
  apps/backend/workflow_engine/workflow_engine/execution_engine_simple.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/services/simple_service.py
Due: test-workflow-engine

reduce logs
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

update
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/nodes/memory_node.py
Due: test-workflow-engine

feat: Add get_workflow and update_workflow methods to WorkflowEngineClient
  apps/backend/chat_edit.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
Due: test-workflow-agent

refactor: Simplify chat_edit.py to only interactive mode
  apps/backend/chat_edit.py
Due: none

feat: Complete edit workflow functionality implementation
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/fastapi_server.py
Due: test-workflow-agent

refactor: Change edit mode to always create new workflow
  apps/backend/chat_edit.py
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
Due: test-workflow-agent

feat: Improve edit mode messaging to clearly indicate new workflow creation
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

feat: Display full workflow JSON in chat_edit.py like chat.py does
  apps/backend/chat_edit.py
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
