Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: test-api-gateway
        name: Test API Gateway
        entry: bash -c 'cd apps/backend/api-gateway && pip install uv && uv sync && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v --cov=app --cov-report=xml --ignore=tests/test_integration.py --ignore=tests/test_integration_quick.py --ignore=tests/test_chat_stream_simple.py --ignore=tests/test_sessions_chat_debug.py'
        language: system
        files: ^apps/backend/api-gateway/.*\.py$
        pass_filenames: false

      - id: test-workflow-agent
        name: Test Workflow Agent
        entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_agent/.*\.py$
        pass_filenames: false

      - id: test-workflow-engine
        name: Test Workflow Engine
        entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_engine/.*\.py$
        pass_filenames: false

fix
  .github/workflows/supabase-migration.yml
  infra/secrets.tf
Due: none

fix
  .github/workflows/supabase-migration.yml
Due: none

feat: flow init
  apps/frontend/agent_team_web/design/Workflow初始化开发总结.md
Due: none

update
  apps/backend/workflow_scheduler/services/notification_service.py
  infra/monitoring.tf
  scripts/supabase-migrate.sh
Due: none

fix: remove hardcoded Slack API tokens and use environment variables
  apps/backend/env.example
Due: none

feat: Modify some types according to the backend API
  apps/frontend/agent_team_web/design/api.json
  apps/frontend/agent_team_web/design/api.md
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/ui/assistant-list.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeDetailsPanel/FormRenderer.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodePanel.tsx
  apps/frontend/agent_team_web/src/components/workflow/NodeSidebar/NodeTemplateCard.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowCanvas.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/lib/assistant-data.ts
  apps/frontend/agent_team_web/src/lib/sample-workflows.ts
  apps/frontend/agent_team_web/src/store/atoms/ui.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/types/workflow-enums.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflowConverter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
Due: none

add SMTP variables in CICD
  .github/workflows/deploy.yml
Due: none

fix missing ECR repo issue
  infra/deploy.sh
  infra/outputs.tf
Due: none

fix supabase migration
  scripts/supabase-migrate.sh
  supabase/seed.sql
Due: none

Add workflow_scheduler to CI/CD pipeline
  .github/workflows/deploy.yml
  apps/backend/workflow_scheduler/Dockerfile
Due: none

Fix workflow_scheduler Dockerfile production stage
  .github/workflows/supabase-migration.yml
  apps/backend/workflow_scheduler/Dockerfile
  scripts/supabase-migrate.sh
Due: none

update whole flow
  apps/backend/api-gateway/app/services/node_knowledge_service.py
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/clarification_f2_user.j2
  apps/backend/shared/prompts/gap_analysis_f2_system.j2
  apps/backend/test_chat.sh
  apps/backend/test_chat_simple.py
  apps/backend/test_clarification_detail.py
  apps/backend/test_clarification_fix.py
  apps/backend/test_openai_mcp_integration.py
  apps/backend/test_workflow_debug.py
  apps/backend/test_workflow_routing.py
  apps/backend/uv.lock
  apps/backend/workflow_agent/CLAUDE.md
  apps/backend/workflow_agent/CLEANUP_SUMMARY.md
  apps/backend/workflow_agent/CURRENT_TABLE_SCHEMA.md
  apps/backend/workflow_agent/DATABASE_SCHEMA.md
  apps/backend/workflow_agent/MAIN_BRANCH_INTEGRATION.md
  apps/backend/workflow_agent/RAG_INTEGRATION.md
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/tools.py
  apps/backend/workflow_agent/generated_workflow.json
  apps/backend/workflow_agent/migrations/001_create_workflow_agent_states.sql
  apps/backend/workflow_agent/migrations/002_update_to_mcp_integration.sql
  apps/backend/workflow_agent/migrations/003_final_mcp_schema.sql
  apps/backend/workflow_agent/pyproject.toml
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_agent/test_gap_loop_fix.py
  apps/backend/workflow_agent/test_gap_resolution.py
  apps/backend/workflow_agent/test_integration.py
  apps/backend/workflow_agent/test_mcp_generation.py
  apps/backend/workflow_agent/test_simple_mcp.py
  apps/backend/workflow_agent/test_state_consistency.py
  apps/backend/workflow_agent/test_state_db_consistency.py
  apps/backend/workflow_agent/test_unified_state.py
Due: test-api-gateway, test-workflow-agent

Add Redis URL debug logging to workflow scheduler
  apps/backend/workflow_scheduler/core/config.py
  apps/backend/workflow_scheduler/main.py
  apps/backend/workflow_scheduler/services/notification_service.py
Due: none

Fix workflow scheduler Redis connection issue
  apps/backend/docker-compose.yml
  apps/backend/workflow_scheduler/main.py
  infra/ecs.tf
Due: none

Reduce ECS desired instance count from 2 to 1
  infra/terraform.tfvars.example
  infra/variables.tf
Due: none

Fix workflow scheduler health check endpoint
  apps/backend/workflow_scheduler/main.py
Due: none

update
  infra/ecs.tf
  infra/load_balancer.tf
Due: none

update
  infra/security_groups.tf
Due: none

support debug
  apps/backend/debug_req.md
  apps/backend/docker-compose.yml
  apps/backend/response.json
  apps/backend/shared/models/conversation.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/shared/node_specs/validator.py
  apps/backend/shared/prompts/workflow_gen_f1.j2
  apps/backend/test_chat_clean.py
  apps/backend/test_cron_expressions.py
  apps/backend/test_simple_workflow.py
  apps/backend/test_timer_workflow.sh
  apps/backend/test_workflow_curl.sh
  apps/backend/test_workflow_curl_fixed.sh
  apps/backend/test_workflow_debug_e2e.py
  apps/backend/test_workflow_simple.py
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/test_data_generator.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
  apps/backend/workflow_agent/test_debug_flow.py
  infra/ecs.tf
Due: test-workflow-agent

rm unused files
  apps/backend/CANCEL_ERROR_FIX.md
  apps/backend/debug_req.md
  apps/backend/response.json
  apps/backend/test_chat.sh
  apps/backend/test_chat_simple.py
  apps/backend/test_clarification_detail.py
  apps/backend/test_clarification_fix.py
  apps/backend/test_cron_expressions.py
  apps/backend/test_simple_workflow.py
  apps/backend/test_timer_workflow.sh
  apps/backend/test_workflow_curl.sh
  apps/backend/test_workflow_curl_fixed.sh
  apps/backend/test_workflow_debug.py
  apps/backend/test_workflow_debug_e2e.py
  apps/backend/test_workflow_routing.py
  apps/backend/test_workflow_simple.py
  apps/backend/workflow_agent/agents/test_data_generator.py
  apps/backend/workflow_agent/test_debug_flow.py
  apps/backend/workflow_agent/test_gap_loop_fix.py
  apps/backend/workflow_agent/test_gap_resolution.py
  apps/backend/workflow_agent/test_integration.py
  apps/backend/workflow_agent/test_mcp_generation.py
  apps/backend/workflow_agent/test_simple_mcp.py
  apps/backend/workflow_agent/test_state_consistency.py
  apps/backend/workflow_agent/test_state_db_consistency.py
  apps/backend/workflow_agent/test_unified_state.py
Due: test-workflow-agent

add generator
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/workflow_data_generator.py
Due: test-workflow-agent

Use MCP in gap analysis node
  apps/backend/shared/prompts/gap_analysis_f2_system.j2
  apps/backend/shared/prompts/gap_analysis_f2_user.j2
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/test_gap_optimization.py
  apps/backend/workflow_agent/tests/test_enhanced_gap_analysis.py
Due: test-workflow-agent

feat: implement complete external API node OAuth2 integration
  apps/backend/workflow_engine/OAUTH_CONFIG.md
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/google_calendar.py
  apps/backend/workflow_engine/workflow_engine/services/api_call_logger.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
  apps/backend/workflow_engine/workflow_engine/services/user_service.py
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/auth/callback/page.tsx
  apps/frontend/agent_team_web/src/app/external-apis-test/page.tsx
  apps/frontend/agent_team_web/src/app/google-calendar-test/page.tsx
  apps/frontend/agent_team_web/src/app/oauth-callback/page.tsx
  apps/frontend/agent_team_web/src/hooks/use-toast.ts
  supabase/migrations/20250802000001_external_api_integration.sql
Due: test-workflow-engine

feat: Fix some types
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/components/ui/assistant-list.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/store/atoms/nodeTemplates.ts
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/src/utils/workflowGenerator.ts
Due: none

fix: resolve conflicts
  apps/frontend/agent_team_web/package.json
Due: none

feat: Fix some type errors during build and modify the validation configuration
  apps/frontend/agent_team_web/eslint.config.mjs
  apps/frontend/agent_team_web/src/app/auth/callback/page.tsx
  apps/frontend/agent_team_web/src/app/external-apis-test/page.tsx
  apps/frontend/agent_team_web/src/app/google-calendar-test/page.tsx
  apps/frontend/agent_team_web/src/app/oauth-callback/page.tsx
  apps/frontend/agent_team_web/tsconfig.json
Due: none
