Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3.11
        args: [--line-length=100]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: test-api-gateway
        name: Test API Gateway
        entry: bash -c 'cd apps/backend/api-gateway && pip install uv && uv sync && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v --cov=app --cov-report=xml --ignore=tests/test_integration.py --ignore=tests/test_integration_quick.py --ignore=tests/test_chat_stream_simple.py --ignore=tests/test_sessions_chat_debug.py'
        language: system
        files: ^apps/backend/api-gateway/.*\.py$
        pass_filenames: false

      - id: test-workflow-agent
        name: Test Workflow Agent
        entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_agent/.*\.py$
        pass_filenames: false

      - id: test-workflow-engine
        name: Test Workflow Engine
        entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
        language: system
        files: ^apps/backend/workflow_engine/.*\.py$
        pass_filenames: false

Improve prompt to prevent reference objects in workflow generation
  apps/backend/shared/prompts/workflow_gen_f1.j2
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

Relax test assertions for node error messages
  apps/backend/api-gateway/tests/test_mcp_error_handling.py
  apps/backend/api-gateway/tests/test_node_knowledge_integration.py
  apps/backend/api-gateway/tests/test_node_knowledge_service.py
Due: test-api-gateway

Simplify workflow generation prompt and fix type inference
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

Fix LLM to generate proper mock values based on MCP ParameterType
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/test_mcp_compliance_detailed.py
  apps/backend/test_mcp_type_fix.py
  apps/backend/workflow_agent/agents/nodes.py
Due: test-workflow-agent

add variables
  .github/workflows/deploy.yml
  apps/backend/workflow_scheduler/core/config.py
  infra/ecs.tf
  infra/secrets.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: none

fine-tune scheduler
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/core/config.py
  apps/backend/workflow_scheduler/core/supabase_client.py
  apps/backend/workflow_scheduler/pyproject.toml
Due: test-api-gateway

Feat/GitHub trigger (#64)
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/core/config.py
  apps/backend/workflow_scheduler/core/supabase_client.py
  apps/backend/workflow_scheduler/pyproject.toml
  apps/backend/workflow_scheduler/triggers/github_trigger.py
  infra/ecs.tf
  infra/secrets.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: test-api-gateway

feat: use api router proxy
  apps/frontend/agent_team_web/next.config.ts
  apps/frontend/agent_team_web/src/app/api/proxy/[...path]/route.ts
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
Due: none

feat: workflow API integration with TypeScript fixes
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/app/workflow-editor/page.tsx
  apps/frontend/agent_team_web/src/components/ui/dropdown-menu.tsx
  apps/frontend/agent_team_web/src/components/ui/navigation-header.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CanvasControls.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/store/atoms/workflow.ts
  apps/frontend/agent_team_web/src/store/hooks/useWorkflow.ts
  apps/frontend/agent_team_web/src/types/workflow-editor.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

fix: build error
  apps/frontend/agent_team_web/src/app/api/proxy/[...path]/route.ts
  apps/frontend/agent_team_web/src/app/workflow-editor-test/page.tsx
  apps/frontend/agent_team_web/src/app/workflow-editor/page.tsx
Due: none

update
  docs/product-design/pmo_agent_workflow.md
  docs/product-design/pmo_agent_workflow_zh.md
Due: none

feat: dev
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
Due: none

add variables and secrets
  .github/workflows/deploy.yml
  infra/ecs.tf
Due: none

Feat/pmo bot design (#66)
  docs/product-design/pmo_agent_workflow.md
  docs/product-design/pmo_agent_workflow_zh.md
Due: none

add integration
  apps/backend/api-gateway/app/api/app/integrations.py
Due: test-api-gateway

fix docusaurus build
  docs/product-design/pmo_agent_workflow.md
  docs/product-design/pmo_agent_workflow_zh.md
Due: none

Update README.md
  README.md
Due: none

fix: uopdate workflow & delete old model
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/main.py
  apps/backend/api-gateway/app/models/__init__.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/shared/models/workflow.py
  apps/backend/test_workflow_update_debug.py
  apps/backend/workflow_engine/workflow_engine/api/v1/workflows.py
Due: test-api-gateway, test-workflow-engine

update pmo workflow json definition
  docs/product-design/pmo_agent_workflow.md
  docs/product-design/pmo_agent_workflow_zh.md
Due: none

verify cron trigger
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/config.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
  supabase/migrations/20250817000001_expand_deployment_actions.sql
Due: test-api-gateway

add notion SDK
  apps/backend/shared/sdks/notion_sdk/__init__.py
  apps/backend/shared/sdks/notion_sdk/client.py
  apps/backend/shared/sdks/notion_sdk/exceptions.py
  apps/backend/shared/sdks/notion_sdk/models.py
  apps/backend/shared/sdks/notion_sdk/oauth2_client.py
  apps/backend/shared/sdks/notion_sdk/requirements.txt
  infra/terraform.tfvars
Due: none

Notion integration (#69)
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/config.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/shared/sdks/notion_sdk/__init__.py
  apps/backend/shared/sdks/notion_sdk/client.py
  apps/backend/shared/sdks/notion_sdk/exceptions.py
  apps/backend/shared/sdks/notion_sdk/models.py
  apps/backend/shared/sdks/notion_sdk/oauth2_client.py
  apps/backend/shared/sdks/notion_sdk/requirements.txt
  apps/backend/workflow_scheduler/services/deployment_service.py
  infra/ecs.tf
  infra/secrets.tf
  infra/terraform.tfvars
  infra/variables.tf
  supabase/migrations/20250817000001_expand_deployment_actions.sql
Due: test-api-gateway

rm debug node
  apps/backend/shared/prompts/clarification_f2_system.j2
  apps/backend/shared/prompts/clarification_f2_user.j2
  apps/backend/shared/prompts/debug.j2
  apps/backend/shared/prompts/negotiation.j2
  apps/backend/shared/prompts/solution_generation.j2
  apps/backend/shared/prompts/workflow_architecture.j2
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_optimized_system.j2
  apps/backend/shared/prompts/workflow_generation_optimized_user.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/test_clarification_improvements.py
  apps/backend/test_mcp_compliance_detailed.py
  apps/backend/test_mcp_type_fix.py
  apps/backend/test_workflow_update_debug.py
  apps/backend/test_workflow_validation.py
  apps/backend/workflow_agent/Dockerfile
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/agents/state.py
  apps/backend/workflow_agent/agents/workflow_agent.py
  apps/backend/workflow_agent/agents/workflow_data_generator.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/main.py
  apps/backend/workflow_agent/models/workflow_agent_state.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
Due: test-workflow-agent
