Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

add notion external action node
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/api/mcp/notion_tools_streamlined.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/check_mcp_keys.py
  apps/backend/api-gateway/test_node_converter.py
  apps/backend/api-gateway/test_node_knowledge.py
  apps/backend/api-gateway/test_unified_workflow.sh
  apps/backend/api-gateway/tests/test_mcp_endpoints.py
  apps/backend/env.example
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/external_actions.py
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/sdks/__init__.py
  apps/backend/shared/sdks/notion_sdk_wrapper.py
  apps/backend/shared/telemetry/formatter.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  infra/ecs.tf
  infra/secrets.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: test-api-gateway, test-workflow-engine

update
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/api/mcp/notion_tools_streamlined.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/tests/test_mcp_endpoints.py
Due: test-api-gateway

Notion integration #2 (#71)
  apps/backend/api-gateway/app/api/mcp/notion_tools.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/check_mcp_keys.py
  apps/backend/api-gateway/test_node_converter.py
  apps/backend/api-gateway/test_node_knowledge.py
  apps/backend/api-gateway/test_unified_workflow.sh
  apps/backend/api-gateway/tests/test_mcp_endpoints.py
  apps/backend/env.example
  apps/backend/shared/models/__init__.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/external_actions.py
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/sdks/__init__.py
  apps/backend/shared/sdks/notion_sdk_wrapper.py
  apps/backend/shared/telemetry/formatter.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  infra/ecs.tf
  infra/secrets.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: test-api-gateway, test-workflow-engine

fix
  .github/workflows/deploy.yml
  infra/secrets.tf
Due: none

fix
  infra/secrets.tf
  infra/variables.tf
Due: none

fix notion auth
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/core/events.py
Due: test-api-gateway

fix JSON workflow creation param
  apps/backend/.gitignore
  apps/backend/chat.py
  apps/backend/chat_improved.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_agent/services/fastapi_server.py
  apps/backend/workflow_agent/services/state_manager.py
  apps/backend/workflow_agent/services/workflow_engine_client.py
Due: test-workflow-agent

update
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/config.py
Due: test-api-gateway

update
  apps/backend/api-gateway/app/api/app/integrations.py
Due: test-api-gateway

slack update (#72)
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/config.py
Due: test-api-gateway

Add Slack OAuth configuration and fix webhook authentication
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/config.py
  infra/secrets.tf
  infra/variables.tf
Due: test-api-gateway

consolidate API Gateway configuration
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/config.py
  apps/backend/api-gateway/app/core/config.py
  apps/backend/api-gateway/app/utils/logger.py
Due: test-api-gateway

update terraform
  infra/ecs.tf
Due: none

update deployment
  CLAUDE.md
  apps/backend/OBSERVABILITY.md
  apps/backend/PRODUCT_SOLUTION.md
  apps/backend/PROJECT_SUMMARY.md
  apps/backend/TEST_WORKFLOW_README.md
  apps/backend/WORKFLOW_TEST_FIX_SUMMARY.md
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/api/public/webhooks.py
  apps/backend/api-gateway/app/core/config.py
  apps/backend/ecs_deployment_config.md
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/definitions/action_nodes.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/workflow_engine/OAUTH_CONFIG.md
  apps/backend/workflow_engine/workflow_engine/nodes/action_node.py
  apps/backend/workflow_scheduler/api/auth.py
  apps/backend/workflow_scheduler/api/google_calendar.py
  apps/backend/workflow_scheduler/core/config.py
  apps/backend/workflow_scheduler/main.py
  apps/backend/workflow_scheduler/services/google_calendar_token_manager.py
  auth_request.json
  aws_ecs_grpc_service_discovery.md
  copilot/.workspace
  copilot/environments/pre-release/manifest.yml
  copilot/workflow-engine/manifest.yml
  docs/product-design/README.md
  docs/product-design/privacy-policy.md
  docs/product-design/terms-of-service.md
  test_workflow_api_gateway_format.json
  test_workflow_basic_manual_trigger.json
  workflow_data.json
Due: test-api-gateway, test-workflow-engine

feat: Add Notion integration with SDK
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/sdks/notion_sdk/__init__.py
  apps/backend/shared/sdks/notion_sdk/client.py
  apps/backend/shared/sdks/notion_sdk/exceptions.py
  apps/backend/shared/sdks/notion_sdk/models.py
  apps/backend/shared/sdks/notion_sdk/requirements.txt
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/notion.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
  supabase/migrations/20250802000001_external_api_integration.sql
  supabase/migrations/20250806170000_add_missing_cloud_tables.sql
  supabase/migrations/20250817182744_remove_unused_oauth_tables.sql
Due: test-workflow-engine

feat: Complete Slack integration with OAuth2 support
  apps/backend/shared/sdks/google_calendar_sdk/client.py
  apps/backend/shared/sdks/google_calendar_sdk_wrapper.py
  apps/backend/shared/sdks/slack_sdk/oauth2_client.py
  apps/backend/workflow_engine/EXTERNAL_API_NODES_SUMMARY.md
  apps/backend/workflow_engine/OAUTH_CONFIG.md
  apps/backend/workflow_engine/test_oauth2_integration.py
  apps/backend/workflow_engine/workflow_engine/api/v1/credentials.py
  apps/backend/workflow_engine/workflow_engine/api/v1/oauth2.py
  apps/backend/workflow_engine/workflow_engine/main.py
  apps/backend/workflow_engine/workflow_engine/nodes/external_action_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/api_call.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/email.py
  apps/backend/workflow_engine/workflow_engine/services/oauth2_service_lite.py
Due: test-workflow-engine

fix
  apps/backend/api-gateway/app/api/app/chat.py
  apps/backend/api-gateway/app/dependencies.py
  apps/backend/api-gateway/app/middleware/auth.py
  apps/backend/api-gateway/app/services/auth_service.py
  apps/backend/chat_prod.py
  apps/backend/shared/node_specs/validator.py
  apps/backend/workflow_scheduler/api/auth.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: test-api-gateway

fix
  apps/backend/workflow_scheduler/api/auth.py
  infra/ecs.tf
Due: none

Add missing Slack OAuth environment variables to Workflow Scheduler
  infra/ecs.tf
Due: none

Add comprehensive OAuth integration checklist to prevent future deployment issues
  CLAUDE.md
Due: none

Implement Slack event processing in workflow scheduler
  apps/backend/workflow_scheduler/api/triggers.py
Due: none

Fix Slack trigger database query - use deployment_status instead of is_active
  apps/backend/workflow_scheduler/api/triggers.py
Due: none

Add debug logging for Slack event processing
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  infra/current-scheduler-task-def.json
  infra/current-task-def.json
  infra/updated-scheduler-task-def.json
  infra/updated-task-def.json
Due: none

Fix Slack event parsing structure in SlackTrigger
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: none

Fix UUID to string conversion in Slack notification blocks
  apps/backend/workflow_scheduler/services/notification_service.py
Due: none

feat: chat init & flow update
  apps/frontend/agent_team_web/design/api1.json
  apps/frontend/agent_team_web/package.json
  apps/frontend/agent_team_web/src/app/api/proxy/[...path]/route.ts
  apps/frontend/agent_team_web/src/app/canvas/page.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
  apps/frontend/agent_team_web/src/types/workflow.ts
  apps/frontend/agent_team_web/src/utils/workflow-converter.ts
  apps/frontend/agent_team_web/yarn.lock
Due: none

fix: resolve API proxy issues and TypeScript compilation errors
  apps/frontend/agent_team_web/eslint.config.mjs
  apps/frontend/agent_team_web/src/app/(dev)/api-call-test/page.tsx
  apps/frontend/agent_team_web/src/app/(dev)/external-apis-test/page.tsx
  apps/frontend/agent_team_web/src/app/(dev)/github-test/page.tsx
  apps/frontend/agent_team_web/src/app/(dev)/google-calendar-test/page.tsx
  apps/frontend/agent_team_web/src/app/(dev)/layout.tsx
  apps/frontend/agent_team_web/src/app/(dev)/slack-test/page.tsx
  apps/frontend/agent_team_web/src/app/(dev)/workflow-editor-test/page.tsx
  apps/frontend/agent_team_web/src/lib/api/chatService.ts
Due: none

feat: op login
  apps/frontend/agent_team_web/src/app/login/page.tsx
  apps/frontend/agent_team_web/src/components/ui/login-supabase.tsx
  apps/frontend/agent_team_web/src/components/ui/navigation-header.tsx
  apps/frontend/agent_team_web/src/components/ui/shiny-button-1.tsx
Due: none

feat: op login
  apps/frontend/agent_team_web/src/components/ui/navigation-header.tsx
  apps/frontend/agent_team_web/src/components/ui/shiny-button-1.tsx
Due: none

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
