Repository CurvatureX/agent_team_monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-api-gateway, test-workflow-agent, test-workflow-engine

test-api-gateway:
  name: Test API Gateway
  ...

test-workflow-agent:
  name: Test Workflow Agent
  entry: bash -c 'cd apps/backend/workflow_agent && pip install uv && uv sync --group dev && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

test-workflow-engine:
  name: Test Workflow Engine
  entry: bash -c 'cd apps/backend/workflow_engine && pip install uv && uv sync && uv add pytest grpcio grpcio-tools && export PYTHONPATH="${PYTHONPATH}:$(pwd)" && uv run python -m pytest tests/ -v || echo "Tests not found, skipping"'
  language: system
  pass_filenames: false

fix deployment minor issue
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
Due: none

feat:refact ai note interaction & add execute interface support start from target node
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/api-gateway/docs/workflow_api.md
  apps/backend/shared/models/workflow.py
  apps/backend/workflow_engine/tests/test_ai_node_integration.py
  apps/backend/workflow_engine/tests/test_ai_provider_error_handling.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node_backup.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/__init__.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/base.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/claude_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/factory.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/gemini_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/openai_provider.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/refactoring_guide.md
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-api-gateway, test-workflow-engine

exchange slack channel id to channel name
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_scheduler/main.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: none

disable debug logging
  apps/backend/workflow_scheduler/main.py
  infra/ecs.tf
Due: none

fix channel name resolution
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: none

update
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: test-api-gateway

update scheduler
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/workflow_scheduler/migrations/README.md
  apps/backend/workflow_scheduler/migrations/migrate_slack_channel_names.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/triggers/base.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
Due: test-api-gateway

update
  apps/backend/shared/models/execution.py
  apps/backend/workflow_engine/workflow_engine/api/v1/executions.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
  apps/backend/workflow_scheduler/triggers/base.py
  docs/tech-design/workflow-engine-architecure.md
Due: test-workflow-engine

update
  apps/backend/workflow_scheduler/main.py
  infra/ecs.tf
Due: none

feat: update api
  apps/frontend/agent_team_web/design/api1.json
Due: none

fix ai node memory
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/execution_detail.json
  apps/backend/execution_details.json
  apps/backend/sunday_planning_request.json
  apps/backend/workflow_detail.json
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
Due: test-api-gateway, test-workflow-engine

delete: delete test file
  apps/backend/execution_detail.json
  apps/backend/execution_details.json
  apps/backend/sunday_planning_request.json
  apps/backend/workflow_detail.json
Due: none

fix: AI Agent prompt enhancement for downstream node compatibility
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_agent_http_client.py
  apps/backend/api-gateway/app/services/workflow_engine_http_client.py
  apps/backend/chat.py
  apps/backend/shared/node_specs/registry.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/workflow_agent/agents/nodes.py
Due: test-api-gateway, test-workflow-agent

feat: execution init
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CanvasControls.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/CustomNode.tsx
  apps/frontend/agent_team_web/src/components/workflow/EnhancedWorkflowCanvas/index.tsx
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/components/workflow/WorkflowEditor/index.tsx
  apps/frontend/agent_team_web/src/lib/api/hooks/useExecutionApi.ts
Due: none

fix: build
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
Due: none

fix: build
  apps/frontend/agent_team_web/src/components/workflow/ExecutionStatusPanel.tsx
  apps/frontend/agent_team_web/src/lib/api/fetcher.ts
Due: none

update
  apps/backend/workflow_scheduler/triggers/base.py
Due: none

Verify human in the loop node (#83)
  .github/workflows/deploy.yml
  apps/backend/api-gateway/app/api/app/integrations.py
  apps/backend/api-gateway/app/api/mcp/tools.py
  apps/backend/api-gateway/app/services/workflow_agent_http_client.py
  apps/backend/chat.py
  apps/backend/shared/models/db_models.py
  apps/backend/shared/models/execution.py
  apps/backend/shared/models/node_enums.py
  apps/backend/shared/models/workflow.py
  apps/backend/shared/node_specs/definitions/external_action_nodes.py
  apps/backend/shared/node_specs/definitions/human_loop_nodes.py
  apps/backend/shared/node_specs/registry.py
  apps/backend/shared/prompts/workflow_gen_simplified.j2
  apps/backend/shared/prompts/workflow_generation_user.j2
  apps/backend/shared/prompts/workflow_validation.j2
  apps/backend/workflow_agent/agents/mcp_tools.py
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/core/config.py
  apps/backend/workflow_engine/test_hil_integration.py
  apps/backend/workflow_engine/workflow_engine/api/v1/executions.py
  apps/backend/workflow_engine/workflow_engine/execution_engine.py
  apps/backend/workflow_engine/workflow_engine/nodes/human_loop_node.py
  apps/backend/workflow_engine/workflow_engine/services/api_adapters/base.py
  apps/backend/workflow_engine/workflow_engine/services/execution_service.py
  apps/backend/workflow_engine/workflow_engine/services/hil_service.py
  apps/backend/workflow_engine/workflow_engine/services/workflow_status_manager.py
  apps/backend/workflow_scheduler/api/triggers.py
  apps/backend/workflow_scheduler/main.py
  apps/backend/workflow_scheduler/migrations/README.md
  apps/backend/workflow_scheduler/migrations/migrate_slack_channel_names.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
  apps/backend/workflow_scheduler/triggers/base.py
  apps/backend/workflow_scheduler/triggers/slack_trigger.py
  docs/tech-design/human-in-loop-node-system.md
  docs/tech-design/workflow-engine-architecure.md
  infra/ecs.tf
  infra/secrets.tf
  infra/variables.tf
Due: test-api-gateway, test-workflow-agent, test-workflow-engine

add httpx dependency
  apps/backend/workflow_scheduler/services/deployment_service.py
Due: none

update
  apps/backend/workflow_scheduler/core/database.py
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
Due: none

fix slack trigger deployment
  apps/backend/api-gateway/app/api/app/workflows.py
  apps/backend/api-gateway/app/services/workflow_scheduler_http_client.py
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_scheduler/services/deployment_service.py
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
Due: test-api-gateway

update
  apps/backend/workflow_scheduler/services/trigger_index_manager.py
Due: none

update
  apps/backend/api-gateway/app/api/app/integrations.py
Due: test-api-gateway

fix import issues
  apps/backend/shared/node_specs/definitions/trigger_nodes.py
  apps/backend/workflow_engine/workflow_engine/nodes/ai_providers/__init__.py
Due: test-workflow-engine

Fix AI Agent output not being used by downstream nodes
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/pyproject.toml
Due: test-workflow-agent

Revert "Fix AI Agent output not being used by downstream nodes"
  apps/backend/workflow_agent/agents/nodes.py
  apps/backend/workflow_agent/pyproject.toml
Due: test-workflow-agent

Add raw AI response logging to AI agent node
  apps/backend/workflow_engine/workflow_engine/nodes/ai_agent_node.py
Due: test-workflow-engine

Path conditions:
  test-api-gateway: any of: ^apps/backend/api-gateway/.*\.py$
  test-workflow-agent: any of: ^apps/backend/workflow_agent/.*\.py$
  test-workflow-engine: any of: ^apps/backend/workflow_engine/.*\.py$
